:root {
	--red: #8A3842;
	--pink: #B76E68;
	--yellow: #D6A676;
	--green: #949561;
	--purple: #745562;
}

h1 {
	color: var(--yellow);
	line-height: normal;
}

h2 {
	color: var(--green);
}

h3 {
	color: var(--pink);
}

li {
	margin-top: 10px;
}

body {
	font-size: 16px;
	line-height: 20px;
	word-spacing: 3px;
	font-family: natsuzemi, ms pgothic, arial;
	word-wrap: break-word;
	word-break: normal;
	background: url(!g/sepia-bg.png) no-repeat left bottom fixed;
	background-size: cover;
	margin: 0px;
}

main,
nav,
aside,
header {
	border-radius: 20px;
	background: rgb(255, 255, 255, 0.9);
	color: black;
	border: 1px dashed var(--pink);
}

header {
	max-width: 600px;
	padding: 10px;
	overflow: hidden;
	margin: 20px 0 0px 30px;
}

aside {
	position: fixed;
	right: 20px;
	top: 20px;
	padding: 10px;
	max-width: 300px;
	max-height: 300px;
	overflow: auto;
}

aside h3 {
	margin: 4px;
}

nav {
	border: 0px;
	border-top: 2px solid var(--yellow);
	background: var(--green);
	color: white;
	text-align: center;
	z-index: 3;
	width: 100%;
	position: fixed;
	bottom: 0px;
	padding: 5px;
	overflow: auto;
	border-radius: 0px;
}

nav a {
	padding: 0 5px 0 0;
	color: white;
	border-radius: 5px;
	padding-left: 10px;
	text-decoration: none;
}

nav a::before {
	content: '～';
}

main {
	position: relative;
	max-width: 600px;
	margin: 20px 0 50px 30px;
	padding: 10px;
}

b {
	color: var(--red);
}

u {
	color: var(--purple);
}

a {
	text-decoration: underline;
	color: var(--yellow);
	font-weight: bold;
	transition-duration: 0.3s;
}

a:hover {
	letter-spacing: 2px;
	background: var(--purple);
	text-decoration: wavy underline;
}

.icon {
	transition-duration: 1s;
}

.icon:hover {
	rotate: 350deg;
}

footer {
	text-align: center;
	font-weight: bold;
	color: var(--purple);
}

@media only screen and (max-width: 1040px) {

	aside,
	main,
	header {
		position: relative;
		max-width: 100%;
		margin: 20px 10px 0px 10px;
		right: 0px;
		top: 0px;
	}

	main {
		margin-bottom: 70px;
	}

}
