    body{
		background:url(/notebook/!g/grid-blue.png);}

    li{list-style-image: url('/!g/pix/ball_s_16.gif');}
 
    a:hover, a:focus{
    color:#B4D7FF;}
 
   mark{background-color:#B4D7FF;}
 
    ::selection{ 
    background-color:#B4D7FF;}
    
      #s-m-t-tooltip{
	max-width: 200px;
  text-align:center;
	z-index: 9999;
	margin: 30px 15px 7px 12px;
	padding:5px;
  border-radius:10px;
	border:1px solid black;
	color:black;
	background-color:#B4D7FF;
}
