html {
	scrollbar-color: #ffe5a2 #a9d079;
}

:root {
	--d-yellow: #F4B535;
	--l-yellow: #FFEBAF;
	--d-blue: #4A90C6;
	--l-blue: #BFE1F2;
	--l-brown: #C39684;
	--d-brown: #8C7167;
	--l-pink: #FFB5D5;
	--d-pink: #FE6D92;
	--l-green: #A9D079;
	--d-green: #285114;
	--purple: #90619D;
	--grey: #EDF4F7;
	--black: #1a202c;
	--shadow: #578bb0;
	--border1: 3px dotted var(--l-yellow);
	--border2: 3px dotted var(--l-pink);
	--border3: 3px dotted var(--l-blue);
	--bg1: #bfe1f2;
	--bg2: #ffe5a2;
	--bg3: #ffb5d5;
	--bg4: #a9d079;
	--gradient1: #bfe1f2;
	--gradient2: linear-gradient(137deg, rgba(191, 225, 242, 0.8) 0%, rgba(255, 247, 223, 0.8) 48%, rgba(255, 181, 213, 0.8) 100%);
}

body {
	color: var(--black);
	background: url(/!g/homepage/bg5.png) no-repeat bottom fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

::selection {
	color: white;
	background: var(--d-brown);
}

.box {
	border-radius: 10px
}

a {
	font-weight: 700;
	color: var(--purple);
	border-radius: 10px;
	text-decoration: underline;
	transition-duration: .3s
}

a:hover {
	letter-spacing: 2px;
	text-decoration: none
}

#nav {
	scrollbar-color: #EDF4F7 #FFB5D5;
	background: var(--gradient1);
	background: var(--gradient2);
	border: 3px dotted var(--l-brown)
}

.me {
	color: #B98FC3;
	text-shadow: 2px 2px var(--grey);
}

#intro {
	font-family: gaegu-l, var(--fonts);
	padding-bottom: 50px;
	border: 3px dotted var(--d-brown)
}

#intro p {
	margin-top: 0;
}

.intro-img {
	content: url(/!g/deco/kitty-text.gif);
	margin: 5px;
}

header {
	height: 112%;
	color: #fff;
	font-size: 17px
}

header p {
	font-family: spirit, var(--fonts);
	font-size: 20px;
	margin-top: -10px;
	margin-left: 120px;
	position: absolute
}

h1 {
	font-family: typogarden, var(--fonts);
	font-size: 89px;
	font-weight: 400;
	letter-spacing: 4px;
	filter: drop-shadow(2px 0px 0px var(--shadow)) drop-shadow(0px 2px 0px var(--shadow)) drop-shadow(-2px 0px 0px var(--shadow)) drop-shadow(0px -2px 0px var(--shadow));
	pointer-events: none;
}

h2 {
	color: var(--d-brown);
	font-weight: 400;
	font-family: spirit, var(--fonts);
	font-size: 20px;
	margin-bottom: 5px;
	line-height: 24px
}

h3 {
	background: white;
	background-image: url(/!g/bg/h069-5.gif);
	border-radius: 10px;
	font-family: spirit, var(--fonts);
	font-weight: 400;
	font-size: 16px;
	border: 2px dashed var(--black);
	box-shadow: 1px 1px 6px 1px var(--l-pink) inset
}

h4 {
	font-family: spirit, var(--fonts);
	font-size: 16px;
	font-weight: 400
}

nav a img,
nav button img {
	vertical-align: middle
}

nav a,
nav button {
	font-family: var(--fonts);
	color: var(--d-brown);
	font-size: 19px;
	font-weight: 700;
	background: transparent;
	padding: 0 3px 0 5px;
	margin: 5px;
	text-decoration: none;
	transition-timing-function: ease-out;
	transition-duration: .3s
}

nav a:hover,
nav button:hover {
	color: var(--d-brown);
	letter-spacing: 0;
	background: url(/!g/bg/ritva-1.gif);
	background-size: 50px;
	border: 1px solid var(--d-brown);
	margin-left: 20px;
}

nav button {
	cursor: help;
	text-align: left;
	width: 90%;
	padding: 2px 5px 2px 5px;
	border: none;
	box-shadow: none;
	line-height: normal;
}

nav button:hover {
	box-shadow: none;
}

nav h2 {
	color: var(--d-blue)
}

button {
	font-family: nintendo-ds-bios, var(--fonts);
	font-size: 17px;
	color: var(--d-brown);
	box-shadow: 1px 1px 6px 1px var(--l-yellow) inset;
	background: var(--l-blue);
	border: 3px inset var(--l-yellow);
	line-height: 20px;
}

button:hover {
	color: var(--d-pink);
	background: var(--l-yellow);
	border: 3px outset var(--d-pink);
	box-shadow: 1px 1px 6px 1px var(--l-pink) inset
}

#music-btn {
	background: var(--l-brown);
	border: 4px ridge var(--l-yellow)
}

.imood {
	font-family: simple, var(--fonts);
	font-size: 20px;
	vertical-align: text-bottom
}

#status h2 {
	margin: 0;
	line-height: 23px
}

#status {
	font-family: nintendo-ds-bios, var(--fonts);
	font-size: 16px;
	word-spacing: 3px;
	letter-spacing: 1px;
	background-image: url(/!g/homepage/cloud2.png)
}

#status a {
	color: var(--d-blue);
	text-decoration: none
}

#status a:hover {
	letter-spacing: 1px;
}

#statuscafe {
	font-family: nintendo-ds-bios, var(--fonts);
	letter-spacing: 0px;
	line-height: 25px;
	font-size: 19px;
	word-spacing: 5px;
	background: url(/!g/bg/h009-3.gif);
	background-size: 35px;
	margin: auto;
	margin-bottom: 10px;
	border: 1px solid var(--l-blue);
	width: 95%;
	border-radius: 15px
}

#statuscafe-content {
	padding: 5px
}

#statuscafe-username {
	padding: 1px 7px;
	text-align: left;
	color: #fff;
	background: #5f7bc6;
	background: linear-gradient(90deg, rgba(95, 123, 198, 1) 0%, rgba(251, 213, 249, 1) 85%, rgba(255, 255, 255, 1) 100%);
	border-radius: 15px 15px 0 0;
	font-size: 17px;
	font-style: italic
}

#statuscafe-username a {
	color: #fff;
	letter-spacing: 3px
}

#statuscafe-username a:hover {
	text-decoration: underline
}

.hl {
	background: url(/!g/bg/h077-2.gif);
	background-size: 50px;
	border: 1px solid var(--black);
	color: var(--black);
	border-radius: 10px;
	padding: 4px;
	vertical-align: middle
}

#current {
	font-family: nintendo-ds-bios, var(--fonts);
	font-size: 20px;
	word-spacing: 4px;
	line-height: 22px
}

#current i {
	text-shadow: 1px 1px #fff
}

#current a {
	color: var(--black);
	font-weight: 400
}

#current a:hover {
	letter-spacing: 1px;
	text-decoration: none
}

.date {
	font-family: simple, var(--fonts);
	font-size: 20px;
	color: var(--d-blue);
	background: var(--bg2);
	line-height: 16px;
	letter-spacing: 2px;
	text-align: center;
	margin: 0;
	padding-bottom: 2px;
	border: 1px solid #fff;
	border-radius: 20px
}

#updates {
	font-family: gaegu-l, var(--fonts);
	font-size: 18px;
	line-height: 20px;
	padding-bottom: 25px
}

#updates a {
	color: var(--l-yellow);
	text-shadow: 2px 1px 2px var(--d-brown);
	text-decoration: none;
}

h4.feed-item-title {
	margin: 0 5px;
	color: #908BC2;
	font-family: gaegu-r, var(--fonts);
	font-size: 16px;
}

.feed-item-desc {
	padding: 0;
	margin: 0px 5px;
	margin-bottom: 15px;
	font-size: 15px;
}

.feed-item-desc::before {
	content: url(/!g/pix/1leaf.png);
	padding: 6px 5px;
}

h4 + .feed-item-desc:nth-of-type(1) {
	padding: 8px;
	font-family: gaegu-r, var(--fonts);
	font-size: 16px;
	border: 2px solid #EBBBE1;
	border-radius: 10px;
	background: white;
	background-image: url(/!g/bg/h096-2.gif);
	box-shadow: 0 0 10px 10px #fff inset
}

h4 + .feed-item-desc:nth-of-type(1)::before {
	content: url(/!g/pix/sorahana-butterfly-pmm.gif);
	padding-right: 4px;
}

.rss {
	width: 15px;
	image-rendering: pixelated;
}

#updates div a {
	font-size: 12px;
	color: grey;
}

#updates h3 + h4 {
	padding: 2px;
	font-family: gaegu-b, var(--fonts);
}

#updates h3 + h4 a {
	color: #908BC2;
	text-shadow: 1px 1px 2px #fff;
}

#updates a:hover {
	letter-spacing: 0;
	text-decoration: underline
}

h3.feed-title {
	display: none;
}

#widget {
	font-family: gaegu-l, var(--fonts);
	font-size: 17px;
	top: -10px;
	height: 110%
}

#button {
	height: 110px;
}

#button p {
	margin: 4px 5px;
	font-family: simple, var(--fonts);
	font-size: 20px;
	line-height: 14px
}

#chatbox {
	background: #bfe1f2;
	background: linear-gradient(137deg, rgba(191, 225, 242, 1) 0%, rgba(255, 247, 223, 1) 48%, rgba(255, 181, 213, 1) 100%);
	border: var(--border2)
}

#chatbox {
	z-index: 11;
}


#foot {
	background: #c39684;
	color: var(--grey);
	border: var(--border1);
	font-family: nintendo-ds-bios, var(--fonts);
	font-size: 19px;
	line-height: 15px;
	word-spacing: 6px
}

#foot a {
	color: var(--l-yellow);
	font-weight: 400;
	text-decoration: none
}

#foot p {
	margin: 6px 0px;
}

#updates,
#featured-page {
	background: var(--bg3);
	border: var(--border3);
	scrollbar-color: #ffe5a2 #ffb5d5;
}

#theme-picker,
#listing {
	background: var(--bg2);
	border: var(--border2);
	scrollbar-color: #a9d079 #ffe5a2;
}

#current,
#webrings {
	background: var(--bg1);
	border: var(--border1);
	scrollbar-color: #ffb5d5 #bfe1f2;
}

#featured-cat,
#button {
	background: var(--bg4);
	border: 3px dotted var(--l-brown);
	scrollbar-color: #ffe5a2 #a9d079;
}

#widget,
#intro {
	background: #edf4f7;
	border: var(--border2);
	scrollbar-color: #a9d079 #edf4f7;
}

.deco {
	pointer-events: none
}

#sticker1 {
	content: url('/!g/deco/flower1.gif');
	top: 47.5%;
	left: 25%
}

#sticker2 {
	content: url('/!g/div/flower2.gif');
	top: 1.8%;
	left: 1%;
	rotate: -6deg;
	width: 250px
}

#sticker3 {
	content: url('/!g/deco/tulips.gif');
	top: 61.5%;
	left: 54%
}

#sticker4 {
	content: url('/!g/deco/happy-cloud.gif');
	top: 35%;
	left: 56%
}

#sticker5 {
	content: url('/!g/deco/left-hanger.gif');
	top: 50%;
	left: -1.6%
}

#sticker6 {
	content: url('/!g/deco/paper-planes.gif');
	top: 76%;
	rotate: 10deg;
	left: -3%
}

#sticker7 {
	content: url('/!g/deco/sleepy-cats.gif');
	top: 94%;
	left: 95%
}

#sticker8 {
	content: url('/!g/deco/sunflowers1.gif');
	top: 90.8%;
	left: 20%
}

#sticker9 {
	content: url('/!g/deco/grass.gif');
	top: 27.4%;
	left: 24%
}

#sticker10 {
	content: url('/!g/deco/catbutter-Katze_91.gif');
	top: 2%;
	left: 6%
}

#sticker11 {
	content: url('/!g/deco/bench-flowers.gif');
	top: -5%;
	left: 90%;
	rotate: -10deg
}

#sticker12 {
	content: url('/!g/deco/bee.png');
	top: -3%;
	width: 110px;
	left: 50%;
	rotate: -10deg
}

#sticker13 {
	content: url('/!g/deco/hk-pixel%20(5).gif');
	top: 35%;
	left: 66%
}

#sticker14 {
	content: url('/!g/deco/flower8.gif');
	top: 4%;
	left: 76%
}

#sticker15 {
	content: url('/!g/deco/flower7.gif');
	top: 90.8%;
	left: 74%
}

#sticker16 {
	content: url('/!g/deco/bouquet-flowers2.gif');
	top: 75%;
	left: 48%;
	rotate: -40deg
}

#sticker17 {
	content: url('/!g/deco/tora-cat-peek.gif');
	top: 44%;
	left: 85%
}


#sticker18 {
	content: url('/!g/pix/sorahana-butterflyanime.gif');
	top: 0%;
	left: 45%
}

#sticker19 {
	content: url('/!g/pix/sorahana-beebig2.gif');
	top: 96%;
	left: 1%
}

#sticker20 {
	content: url('/!g/deco/kitty-basket.gif');
	top: 70%;
	left: 17%
}

#sticker22 {
	content: url('/!g/deco/worm.gif');
	top: 64%;
	left: 76%
}

#sticker23 {
	content: url('/!g/deco/yellowbutteer.gif');
	top: 3%;
	left: 61.5%;
	rotate: 10deg
}

#sticker24 {
	content: url('/!g/pix/butter1.gif');
	top: 49%;
	left: 28%;
	rotate: -20deg
}

#sticker25 {
	content: url('/!g/deco/koinuko-kittytiny.gif');
	top: 3%;
	left: 67%;
	rotate: 15deg;
}

#sticker26 {
	content: url('/!g/deco/bunnyzzz.gif');
	top: 40%;
	left: 93%
}

#sticker27 {
	content: url(/!g/deco/flower4.gif);
	top: 6%;
	left: 65%;
}

#sticker28 {
	content: url("/!g/deco/hk-pixel%20(10).gif");
	top: -0.3%;
	left: 26%;
}

#mizu {
	pointer-events: auto;
	cursor: help;
	content: url('/!g/homepage/mizu2.png');
	top: 31%;
	left: 22.5%;
	filter: drop-shadow(1px 0px 0px #7cbae6) drop-shadow(0px 1px 0px #7cbae6) drop-shadow(-1px 0px 0px #7cbae6) drop-shadow(0px -1px 0px #7cbae6);
}

#mizu-pop-up {
	font-size: 14px;
	line-height: 18px;
	position: absolute;
	top: 46%;
	left: 38%;
	text-align: center;
	width: 190px;
	padding: 10px;
	background: white;
	border-radius: 20px;
	border: 4px solid var(--l-yellow);
	display: none;
}

#mizu-pop-up p {
	margin: 0px;
}

#fixed-1 {
	position: fixed;
	content: url('/!g/deco/flower3.gif');
	top: -19px;
	right: 20px
}

.outlink::after {
	content: "↗";
	padding-left: 2px;
	vertical-align: text-bottom
}

#s-m-t-tooltip {
	font-family: gaegu-r, var(--fonts);
	font-size: 15px;
	max-width: 300px;
	border-radius: 20px;
	border: 2px dashed var(--l-brown);
	background: #bfe1f2;
	background: linear-gradient(137deg, rgba(191, 225, 242, 1) 0%, rgba(255, 247, 223, 1) 48%, rgba(255, 181, 213, 1) 100%)
}

@media only screen and (max-width: 1261px) {
	#fixed-1 {
		display: none
	}
}

@media only screen and (max-width: 1140px) {
	h1 {
		font-size: 70px
	}
}

@media only screen and (max-width: 860px) {

	.no {
		display: none;
	}

	#l-sticker {
		display: none
	}

	#widget {
		top: 0px;
	}

	h1 {
		font-family: spirit, var(--fonts);
		font-size: 25px;
		letter-spacing: 1px;
		margin-top: 10px
	}

	nav {
		text-align: center
	}

	nav button {
		display: inline-block;
		width: auto;
	}

	nav a,
	nav button {
		border: none
	}

	nav a:hover,
	nav button:hover {
		border: none;
		top: 1px;
		margin: 5px;
	}

	#status {
		background: var(--bg4);
		border: 3px dotted var(--l-brown);
		border-radius: 10px
	}

	#chatbox {
		display: block;
		position: relative;
		border-radius: 20px;
		max-width: 100%;
		width: 100%;
		height: 400px;
		overflow: hidden;
	}

	#chatbox h2 {
		display: block;
		text-align: center;
	}

	#foot {
		margin-bottom: 20px;
	}

	#webrings {
		height: 300px;
	}
}
