---
layout: plain.html
title: des' digital journal
extra_css: css/homepage.css
---
<!-- music player for journal page -->
<!-- microblog pics -->
<!-- mobile gaming log -->
<!-- implement search and chatbox to homepage -->
<!-- add abzu stuff to the game log page -->
<h1>welcome to doqmeat.com!</h1>
<aside id="music">
  <div id="screen">
    <p>last listened to...</p>
    <p id="album">loading...</p>
    <p id="song"><span class="icons">🎵</span> </p>
    <p id="artist"><span class="icons">👤</span> </p>
    <p id="albumname"><span class="icons">🖼️</span> </p>
    <!-- screen end div -->
  </div>

  <div class="circle big"></div>
  <div class="circle small"></div>
  <!-- controls -->
  <p class="up"><a title="last.fm widget powered by biancarosa!" href="https://github.com/biancarosa/lastfm-last-played" target="_blank">▲</a></p>
  <p class="play-pause"><span class="left">◄</span> <a href="" target="_blank" id="song-link"><span class="play">►</span><span class="pause">▌▌</span></a> <span class="right">►</span></p>
  <p class="down"><a title="my last.fm profile" href="https://www.last.fm/user/lakiitu" target="_blank">▼</a></p>
  <!-- music end div -->
</aside>
<p>des' passion project about archival, self-expression, and having fun.</p>
<p><b>currently working on a site-wide rework!</b> <a href="https://archive.doqmeat.com">archive.doqmeat.com</a> is live in case you'd like to visit it or are looking for something not available here at the moment.</p>
<h2>pages</h2>
<ul>
  <li><a href="/about">about</a></li>
  <li><a href="/blog">blog</a></li>
  <li><a href="/journal">journal</a></li>
  <li><a href="/microblog">microblog</a></li>
  <li><a href="/vgs">video games</a></li>
  <li><a href="/info">info</a></li>
  <li><a href="/scrapbook">scrapbook</a></li>
</ul>
<h3>outlinks</h3>
<ul>
  <li><a class="s outlink" href="https://doqmeat.atabook.org/">guestbook</a></li>
  <li><a class="s outlink" title="github repository" href="https://github.com/doqmeat/doqmeat.com" target="_blank">source code</a></li>
  <li><a href="https://nekoweb.org/follow/doqmeat.com" class="s outlink">follow on nekoweb</a></li>
</ul>
<h2>latest news - <a href="rss.xml">RSS</a></h2>
{% for item in collections.rss reversed%}
{% if forloop.index0 == 1 %} {% break %}
{% else %}
<details>
  <summary>{{ item.date | shortDate }} - {{ item.data.title }}</summary>
  <p>{{ item.content }}</p>
</details>
{% endif %}
{% endfor %}
<h2>currently...</h2>
<h3 class="title">status:</h3>
<span id="statuscafe-username"></span>
<span id="statuscafe-content"></span>
<h3 class="title">playing:</h3>
<p>deltarune, silksong</p>
<h3 class="title">watching:</h3>
<p>jojo (part 5)</p>
<h3 class="title">reading:</h3>
<p>grimm's fairy tales</p>
<h3 class="title">working on:</h3>
<p>doqmeat.com rework, working on <a href="https://vgen.co/doqmeat" target="_blank">site comms</a>, employment era?</p>