/doqmeat/.vscode/

# work in progress
/doqmeat/garden/
/doqmeat/shrines/steve/
/doqmeat/vgs/games/infinity-nikki/test-files/
/doqmeat/photobook-rework/
/doqmeat/music/playlists/
/doqmeat/notebook-rework/
/doqmeat/journal-rework/
/doqmeat/joined/

# template pages
/doqmeat/info/test.html

# 11ty
/11ty-doqmeat/node_modules
/11ty-doqmeat/_files/
/11ty-doqmeat/_site/
/11ty-doqmeat/package.json
/11ty-doqmeat/package-lock.json
