/doqmeat/.vscode/

# work in progress
/doqmeat/garden/
/doqmeat/shrines/steve/
/doqmeat/vgs/games/infinity-nikki/test-files/
/doqmeat/photobook-rework/
/doqmeat/music/playlists/
/doqmeat/notebook-rework/
/doqmeat/journal-rework/
/doqmeat/joined/
11ty-doqmeat/

# template pages
/doqmeat/info/test.html
