*.mp4
/doqmeat/blog/2024/journals
/doqmeat/about/quiz.html
/doqmeat/vgs/template.txt
/doqmeat/journal/history.html
/doqmeat/music/homestuck-ost.html
/doqmeat/joined/
/doqmeat/index-v4.html
/doqmeat/!f/index-v4/
