/* homepage css */
.title {
	font-family: dream;
	line-height:1px;
	font-size: 25px;
}
.title b {
	background: transparent;
}
.title img {
	vertical-align: bottom;
}

#wrapper1 {
	position: relative;
	margin: auto;
	padding: 50px 30px 50px 30px;
	width: 1350px;
	overflow: hidden;
}

#cat {
	cursor: move;
	position: absolute;
	z-index: 9999;
}

#moon {
	background: rgb(0, 0, 0);
	background: linear-gradient(
		54deg,
		rgba(0, 0, 0, 0.34730388737526263) 0%,
		rgba(0, 0, 0, 0.4089285372352066) 100%
	);
	margin: auto;
	overflow: hidden;
	width: 180px;
	height: 140px;
}

#col1 {
	position: relative;
	text-align: center;
	width: 230px;
	margin-top: 20px;
	margin-right: 100px;
	float: left;
}

#musicbox {
	margin: -5px 0px 10px 0px;
	text-align: left;
	padding: 5px;
	height: 130px;
	overflow: auto;
}
#musicbox i {
	background: transparent;
}
#musicbox li {
	list-style-image: url("/!g/pix/li2.gif");
	padding-left: 2px;
	padding-bottom: 5px;
}

#links {
	padding: 5px;
	position: relative;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 20px;
}

#links a {
	font-family: nintendo-ds-bios, ms gothic;
	font-weight: normal;
	text-decoration: none;
	font-size: 19px;
	letter-spacing: 2px;
	transition-duration: 0.2s;
}
#links a:hover {
	letter-spacing: 0px;
}
#links p {
	margin: 0px;
	padding: 2px 0px 2px 4px;
	line-height: 20px;
}
#links img {
	vertical-align: middle;
}

#inner {
	z-index: 99;
	position: relative;
}

#graphics {
	overflow: hidden;
	margin: -5px 0px 30px 0px;
	position: relative;
	line-height: 3px;
}

#col2 {
	position: relative;
	float: left;
	width: 515px;
}

#info {
  box-sizing:border-box;
	margin-bottom: 25px;
	padding: 7px;
	overflow: auto;
	width: 518px;
	height: 240px;
}

#info li {
	list-style-image: url("/!g/pix/staryellow.gif");
	padding-left: 2px;
	padding-bottom: 5px;
}

#button {
	box-sizing: border-box;
	text-align: center;
	margin-bottom: 25px;
	display: inline-block;
	overflow: auto;
	width: 240px;
	height: 190px;
	padding: 5px;
}

#button p {
	margin: 1px;
}

#currently {
	box-sizing: border-box;
	margin-bottom: 25px;
	display: inline-block;
	overflow: auto;
	width: 265px;
	height: 190px;
	padding: 5px;
}

#currently p {
	margin: 15px 0px;
	padding: 0px;
}

#widgets {
	box-sizing: border-box;
	margin-bottom: 5px;
	text-align: center;
	display: inline-block;
	overflow: auto;
	width: 220px;
	height: 330px;
	padding: 5px;
}

#neo {
	box-sizing: border-box;
	margin-bottom: 5px;
	display: inline-block;
	text-align: center;
	overflow: auto;
	width: 285px;
	height: 330px;
	padding: 5px;
}
#neo i {
	background: transparent;
}

#col3 {
	text-align: center;
	position: relative;
	margin-left: 100px;
	float: left;
	width: 400px;
}

#recently {
	text-align: left;
	overflow: auto;
	float: left;
	margin: 20px 0px;
	padding: 5px;
	width: 280px;
	height: 200px;
}

#recently li {
	list-style-image: url("/!g/pix/starpink.gif");
	padding-left: 2px;
	margin-bottom: 10px;
}
#recently img li {
	vertical-align: middle;
}

#featured-page {
	text-align: right;
	overflow: auto;
	float: right;
	margin: 20px 0px;
	padding: 5px;
	width: 280px;
	height: 200px;
}
.featuredimg {
	border-radius: 20px;
	transition-duration: 0.5s;
}
.featuredimg:hover {
	opacity: 0.6;
}

#working-on {
	text-align: left;
	float: left;
	margin: 20px 0px;
	padding: 5px;
	overflow: auto;
	height: 160px;
	width: 280px;
}

#working-on li {
	list-style-image: url("/!g/pix/starblue.gif");
	padding-left: 2px;
	margin-bottom: 10px;
}
#working-on img li {
	vertical-align: middle;
}

#weekly-cat {
	text-align: right;
	overflow: auto;
	float: right;
	margin: 20px 0px;
	padding: 5px;
	width: 280px;
	height: 230px;
}

#footer {
	position: relative;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	background: rgb(255, 123, 123);
	background: linear-gradient(
		90deg,
		rgba(255, 123, 123, 0.9) 0%,
		rgba(255, 252, 151, 0.9) 27%,
		rgba(187, 255, 190, 0.9) 49%,
		rgba(187, 235, 255, 0.9) 74%,
		rgba(228, 187, 255, 0.9) 95%
	);
	font-size: 15px;
	font-family: newpenji;
	text-align: center;
	padding: 0px;
	width: 505px;
	border: 2px dashed white;
	border-radius: 10px;
}

#pagedoll {
	position: fixed;
	z-index: 99999;
	bottom: -6px;
	left: 0px;
}

/* chat box hover */

#chatbox {
	color: black;
	position: fixed;
	z-index: 99999;
	right: -302px;
	bottom: 0px;
	width: 300px;
	height: 400px;
	transition-duration: 1s;
	border-top: 2px dashed #7800e0;
	border-left: 2px dashed #7800e0;
}

.bookmark {
	border-top: 2px dashed #7800e0;
	border-left: 2px dashed #7800e0;
	border-right: 2px dashed #7800e0;
	width: 100px;
	padding: 3px 0px 1px 10px;
	position: absolute;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	top: 60%;
	right: 81.6%;
	font-size: 14px;
	vertical-align: bottom;
	letter-spacing: 2px;
	rotate: -90deg;
	border-radius: 10px 10px 0px 0px;
}

.bookmark img {
	vertical-align: top;
}

#chatbox:hover {
	right: 0px;
}

/* tooltip link hover */

#s-m-t-tooltip {
	max-width: 200px;
	font-family: var(--fonts);
	text-align: center;
	z-index: 9999;
	margin: 30px 15px 7px 12px;
	padding: 5px;
	border-radius: 10px;
	border: 1px dashed black;
	color: black;
	background: linear-gradient(
		-45deg,
		#ffefa6,
		#d9ffc6,
		#bbdfff,
		#e2d1ff,
		#ffcbd4
	);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* status cafe */

#statuscafe {
	margin: 0px 10px;
	padding: 0px;
}
#statuscafe-username {
	margin-bottom: 1px;
}
#statuscafe-content {
	margin: 1px;
}

/* for stickers */

.sticker {
	position: absolute;
	z-index: 999;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
/* gradients bgs */

.gradient1 {
	background: rgb(220, 216, 255);
	background: linear-gradient(
		354deg,
		rgba(220, 216, 255, 0.9523459041819853) 0%,
		rgba(230, 255, 199, 0.9523459041819853) 100%
	);
}

.gradient2 {
	background: rgb(255, 216, 216);
	background: linear-gradient(
		354deg,
		rgba(255, 216, 216, 0.9523459041819853) 0%,
		rgba(255, 249, 199, 0.9523459041819853) 100%
	);
}

.gradient3 {
	background: rgb(255, 216, 216);
	background: linear-gradient(
		54deg,
		rgba(255, 216, 216, 0.9523459041819853) 0%,
		rgba(199, 235, 255, 0.9523459041819853) 100%
	);
}

/* border general */

.border1 {
	outline-offset: 5px;
	border: 2px dashed #334eff;
	border-radius: 10px;
}

.border2 {
	border: 2px dashed #d71d49;
	border-radius: 10px;
}

.border3 {
	border: 2px dashed #7800e0;
	border-radius: 10px;
}

/* BASIC CSS */

summary {
	padding-left: 10px;
	padding: 5px;
	cursor: help;
}
body {
	margin: 0;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}
h3 {
	font-size: 1.17em;
	margin: 1em 0;
}
h4 {
	font-size: 1em;
	margin: 1.33em 0;
}
h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}
h6 {
	font-size: 0.75em;
	margin: 2.33em 0;
}
b,
strong {
	font-weight: bold;
}

textarea {
	font-family: ms gothic, basiic, arial;
	border: 1px dashed black;
	overflow: auto;
	vertical-align: top;
	width: 100%;
	height: 50px;
}

body {
	background-color: black;
	background-image: url("/!g/bg/starbg2.gif");
	background-repeat: repeat;
	background-size: 400px;
	word-wrap: break-word;
	text-align: left;
	font-size: 18px;
	line-height: 23px;
	font-family: ms pgothic, arial;
	color: black;
}

li {
	list-style-image: url("/!g/pix/li19.gif");
	padding-left: 2px;
	list-style-position:inside;
}

i {
	background: #c7d9f8;
}

b,
strong {
	background: #e4a79d;
}
mark {
	background: #ffe481;
}

a {
	color: #ca6882;
	font-weight: bold;
	text-decoration: underline;
}

.outlink:after {
	content: url(/!g/web/materials/outlink2.png);
	padding-left: 3px;
	vertical-align: text-bottom;
}

a:focus {
	outline: none;
	text-decoration: wavy underline;
}

a:hover {
	color: black;
	text-decoration: underline;
	cursor: help;
}

p {
	margin: 0 0 10px 0;
	padding: 5px;
}
p img {
	vertical-align: middle;
}

::selection {
	color: black;
	background-color: #c8ceff;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb:vertical {
	background:white;
	border: 1px solid black;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
	background:white;
	border: 1px solid black;
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background: transparent;
}
