* {
	box-sizing: border-box;
}

:root {
	--fonts: gaegu-b, ms pgothic, arial;
}

body {
	background-image: url("/notebook/!g/grid-mustard.png");
	background-color: #cabbe6;
	font-family: var(--fonts);
	font-size: 18px;
	word-wrap: break-word;
	padding: 10px;
	margin: 0px;
	padding: 0px;
}

a {
	background: #eeb096;
	text-decoration: none;
	padding: 0px 2px;
	border-radius: 2px;
	color: white;
	text-shadow: 1px 1px 1px black;
	transition-duration: 0.5s;
}

a:hover {
	text-decoration: underline;
}

h1,
h2 {
	font-family: bangalore;
	font-weight: normal;
}

main {
	padding: 10px;
	position: relative;
	max-width: 700px;
	text-align: center;
}

button.container {
	padding: 5px;
	width: 140px;
	height: 140px;
	border: 1px solid white;
	background: #ffeda8;
	margin: 10px;
	transition-duration: 0.5s;
	border-radius: 10px;
}

button.container img {
	width: 100%;
	border-radius: 10px;
}

button:hover {
	cursor: zoom-in;
	background: #eeb096;
	rotate: 5deg;
	border: 1px solid #ddeeed;
}

button:focus {
	background: #eeb096;
	rotate: -10deg;
	border: 1px solid #ddeeed;
}

button:focus::after {
	content: url("/!g/deco/pin.png");
	position: absolute;
	margin-top: -20px;
	margin-left: -10px;
	pointer-events: none;
}

.window {
	background: white;
	border-radius: 20px;
	border: 1px solid #f67a02;
	padding: 20px;
	display: none;
	top: 60px;
	left: 740px;
	position: fixed;
	max-width: 500px;
	max-height: 500px;
	overflow: auto;
	scrollbar-color: #cdddfc #fff;
}

.window p:hover {
	background: white;
}

footer {
	margin: 50px 0px;
}

#pagedoll {
	position: fixed;
	bottom: -7px;
	right: 15px;
}

#home {
	position: fixed;
	top: 5px;
	left: 7px;
}

#home a {
	background: transparent;
}

#s-m-t-tooltip {
	max-width: 200px;
	text-align: center;
	z-index: 9999;
	margin: 30px 15px 7px 12px;
	padding: 5px;
	border-radius: 10px;
	border: 1px dashed black;
	color: white;
	background: #eeb096;
}

@media only screen and (max-width:1134px) {
	main {
		margin: auto;
	}

	.window {
		position: relative;
		top: 0px;
		left: 0px;
		margin: auto;
		max-height: 100%;
	}

	#pagedoll {
		display: none;
	}
}
