<!DOCTYPE html>
<html lang="en">

<!-- 
coded by des ✩₊˚.⋆☾⋆⁺₊✧ 
----
plain layout for WIP pages :p
04.jul.26
----
btw please don't take my entire code and use it as a base.
you're free to take whatever you need from my code! but please refrain from taking ENTIRE html/css/js as templates for your own website.
that's lame 
-->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link href="rss.xml" rel="alternate" type="application/rss+xml" title="doqmeat RSS feed">
  <link rel="icon" type="image/x-icon" href="/_files/{% if favicon %}{{ favicon }}{% else %}assets/silly.gif{% endif %}">
  <link href="/_files/css/plain.css" rel="stylesheet" type="text/css" media="all">
  {% if extra_css %}
  <link href="/_files/{{ extra_css }}" rel="stylesheet" type="text/css" media="all">{% endif %}
  <!-- pagefind -->
  {% if page.url == "/search/" %}
  <link href="/_files/css/pagefind.css" rel="stylesheet">
  <script src="/pagefind/pagefind-ui.js"></script>
  {% endif %}
</head>

<body>
  <wrapper>
    <main>{{ content }}</main>
    <footer>
      {% if page.url != "/" %}
      <p><b>last updated on {{ page.date | shortDate }}</b></p>
      <p><a href="javascript:history.back()">go back</a> / <a href="/">homepage</a> / <a href="#">top</a></p>
      {% else %}
      <p><img title="doqmeat.com protected by nyan cat" src="/_files/assets/pix/nyancat.gif" alt="nyan cat"></p>
      <p><b>last updated on {{ page.date | shortDate }}</b></p>
      <p>coded with <img title="LOVE!" src="/_files/assets/pix/heart-paper.gif" alt="love"> by <b>des</b> / on the web since <b>11.apr.23</b> / <a href="mailto:&#x6d;&#x65;&#x6f;&#x77;&commat;&#x64;&#x6f;&#x71;&#x6d;&#x65;&#x61;&#x74;&period;&#x63;&#x6f;&#x6d;" target="_blank">e-mail</a> / <a href="javascript:window.open('https://www3.cbox.ws/box/?boxid=3527348&boxtag=lFAd4a', 'chatbox', 'width=390,height=470,popup=true')">chatbox</a></p>
      <a class="no-arrow" title="a collective of my sites and projects :p" href="https://sepiarecord.net" target="_blank"><img src="https://sepiarecord.net/assets/imgs/sepiarecord-btn.png" alt="sepiarecord.net link"></a>
      {% endif %}
    </footer>
  </wrapper>

  {% if extra_js %}
  <script src="/_files/{{ extra_js }}"></script>{% endif %}
  {% if page.url == "/" %}
  <script src="/_files/js/last-fm.js"></script>
  <script src="https://status.cafe/current-status.js?name=doqmeat" defer></script>
  {% endif %}
  {% include "_tooltip.html" %}
</body>

</html>