---
title: gaming log
tags: ["subpage"]
---
{% layout "vgs/index.html" %}
<!-- add silksong, deltarune -->
{% block main %}
<section>
  <h2>subpages</h2>
  <p><b>news:</b> added <a href="hardware.html#switch2">switch 2</a> to hardware!</p>
  <ul>
    {% for p in collections.vgs-subpage %}
    <li><a href="{{ p.url }}">{{ p.data.title }}</a></li>
    {% endfor %}
  </ul>
  <h2>game logs</h2>
  <p>click on any of the covers to go to their respective pages!</p>
  <!-- make js filter for tags -->
  <div id="filters"><button onclick="toggleGames('all')">all</button> {% for tag in collections.gamelogTags %}<button onclick="toggleGames('{{ tag | slugify }}')">{{ tag | unSlugify }}</button> {% endfor %}</div>
  <div class="wrapper-vgs">
    {% for game in collections.gamelogFiles %}
    <a class='{% for tag in game.data.tags %} {% unless tag == " gamelog" %} {{ tag | slugify }} {% endunless %} {% endfor %}' href="{{ game.url }}"><img src="/_files/pages/vgs/games/{{ game.fileSlug }}/{% if game.data.cover %}{{ game.data.cover }}{% else %}cover.jpg{% endif %}" alt="{{ game.data.title }} log page"><span>
        <title>{{ game.data.title }}</title>
      </span></a>
    {% endfor %}
    <!-- vgs wrapper end div -->
  </div>
  <!-- content box end div -->
</section>
{% endblock %}