---
title: gaming log
tags: subpage
---
{% layout "vgs/index.html" %}

{% block main %}
<section>
  <h2>video game entries</h2>
  <h3>filters</h3>
  <div id="filters"><button>button 1</button> <button>button 2</button> <button>button 3</button> <button>button 4</button></div>
  <div class="wrapper-vgs">
    {% for game in collections.game_log %}
    <!-- make 11ty functions so we can put the url for the pic without the folder or extension -->
    <a href="{{ game.url }}"><img src="/_files/pages/vgs/games/{{ game.url | vgsCover }}/cover.jpg" alt="{{ game.data.title }} log page"><span>
        <title>{{ game.data.title }}</title>
      </span></a>
    {% endfor %}
    <!-- vgs wrapper end div -->
  </div>
  <!-- content box end div -->
</section>
{% endblock %}