* {
  box-sizing: border-box;
}

html {
  scrollbar-color: var(--acc) var(--text);
}

:root {
  --fonts: basiic, arial;
}

body {
  color: var(--text);
  word-wrap: break-word;
  margin: 0;
  font-size: 19px;
  line-height: 25px;
  word-spacing: 2px;
  font-family: var(--fonts);
}

li {
  padding-left: 2px;
  list-style-position: inside;
}

a {
  background: var(--acc);
  color: var(--text);
}

h1 {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: spirit, var(--fonts);
  letter-spacing: 2px;
}

i,
em,
a,
b,
strong,
mark {
  padding: 1px 3px;
  border-radius: 5px;
  box-decoration-break: clone;
}

i a,
b a,
mark a,
strong a {
  background: transparent;
}

figure {
  text-align: center;
}

figcaption {
  font-size: 14px;
}

a {
  font-weight: normal;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  cursor: help;
}

a:active {
  text-decoration: wavy underline;
}

a:focus {
  text-decoration: wavy underline;
}

.img {
  background: transparent;
}

p img {
  vertical-align: middle;
}

img[align] {
  margin: 10px;
  transition-duration: 0.5s;
  border-radius: 10px;
}

img[align]:hover {
  border-radius: 0px;
  rotate: 2deg;
}

summary {
  padding-left: 10px;
  padding: 5px;
  cursor: help;
}

blockquote {
  margin: 1em 40px;
  border-left: 2px dotted black;
  padding-left: 5px;
}

::selection {
  color: black;
  background-color: #a6ddff;
}

/*my things*/

.spoiler {
  background-color: black;
  color: black;
}

.transp {
  background: transparent;
}

.spoiler:hover {
  background-color: transparent;
}

.left {
  float: left;
}

.right {
  float: right;
}

.centered {
  text-align: center;
}

.f-fix {
  overflow: hidden;
}

.outlink::after {
  content: "↗";
  padding-left: 2px;
  vertical-align: text-bottom;
}

/*class toggle button */

#toggle {
  color: var(--text);
  vertical-align: middle;
  font-family: ms gothic;
  font-size: 20px;
  width: 30px;
  z-index: 1;
  position: relative;
  float: right;
  background: transparent;
  border: 1px dotted transparent;
}

#music-btn {
  background-color: transparent;
  border: 0px;
  margin-top: 5px;
  float: right;
  cursor: help;
}

header,
main,
footer {
  max-width: 630px;
  margin: auto;
  border-style: dashed;
  border-width: 2px;
  background: var(--bg);
  border-color: var(--text);
}

blockquote {
  margin: 1em 40px;
  border-left: 2px solid var(--acc);
  padding-left: 5px;
}

header {
  z-index: 1;
  position: sticky;
  padding: 5px;
  top: 0;
  margin-top: 20px;
}

main {
  position: relative;
  padding: 10px;
  border-top: 0;
  border-bottom: 0;
}

footer {
  position: relative;
  text-align: center;
  padding: 5px;
}

nav {
  background: var(--bg);
  border-color: var(--text);
  position: fixed;
  font-size: 15px;
  width: 240px;
  height: 300px;
  padding: 5px;
  bottom: -270px;
  overflow: auto;
  left: 10px;
  transition-duration: 1s;
  border-style: dashed;
  border-width: 1px;
  border-radius: 15px 15px 0px 0px;
}

nav:hover {
  bottom: 1px;
}

nav ul {
  padding-left: 15px;
  margin: 5px 0px;
}

nav h5 {
  margin: 0px;
}

nav a {
  color: var(--text);
  background: transparent;
  text-decoration: none;
  cursor: cell;
  transition-duration: 0.3s;
}

nav a:hover {
  text-decoration: wavy underline;
}

.date {
  font-family: spirit, var(--fonts);
  text-align: right;
  font-size: 13px;
  font-weight: normal;
}

/* tooltip */

#s-m-t-tooltip {
  color: var(--bg);
  border: 1px dashed var(--bg);
  background: var(--text);
  max-width: 200px;
  font-family: var(--fonts);
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  z-index: 9999;
  margin: 30px 15px 7px 12px;
  padding: 5px;
}

@media only screen and (max-width: 1030px) {
  nav {
    background: transparent;
    position: relative;
    margin: auto;
    width: auto;
    max-width: 300px;
    height: 200px;
    padding: 5px;
    bottom: 0;
    overflow: auto;
    border-radius: 15px;
    left: 0;
    transition-duration: 0s;
  }

  nav:hover {
    bottom: 0;
  }
}

@media only screen and (max-width: 630px) {
  header {
    margin-top: 0px;
    border-top: 0px;
  }

  header,
  main,
  footer {
    border-left: 0px;
    border-right: 0px;
  }

  footer {
    border-bottom: 0px;
  }
}
