/*https://coolors.co/fdfffa-444444-dde2c6-ffeca6-a72608*/

:root {
  --bg: rgb(253, 255, 250, 0.96);
  --text: #444444;
  --acc: #dde2c6;
}

html {
  scrollbar-color: ;
}

.outlink:after {
  content: url(/!g/web/materials/outlink2.png);
}

li {
  list-style-image: url("/!g/pix/1leaf.png");
}

i,
em {
  background: #c7d9f8;
}

b,
strong {
  background: #e4a79d;
}

mark {
  background: #ffeca6;
}
