* {
	box-sizing: border-box;
}

:root {
	--blue1: hsla(212, 46%, 52%, 1);
	--blue2: hsla(213, 41%, 69%, 1);
	--yellow: hsla(33, 88%, 83%, 1);
	--pink: hsla(344, 51%, 67%, 1);
	--violet: hsla(323, 21%, 41%, 1);
	--peach: hsla(16, 91%, 78%, 1);
}

html {
	scrollbar-color: #a3b5cb #ca7f9a;
}

body {
	background: url(bg.png) no-repeat bottom fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: mononoki, consolas, arial;
	margin: 0;
	padding: 0;
	text-align: center;
	color: black;
	font-size: 14px;
	word-break: keep-all;
}

q {
	font-style: italic;
}

a {
	color: var(--blue1);
	cursor: help;
}

p img {
	vertical-align: middle;
}

a:hover {
	text-decoration: none;
}

i {
	text-shadow: 1px 1px 1px white;
}

button {
	font-family: inherit;
	color: inherit;

	&.x {
		font-family: inherit;
		border: 1px dashed grey;
		color: inherit;
		font-size: 16px;
		padding: 5px;
		line-height: 10px;
		border-radius: 5px;
		float: right;
		background: var(--pink);

		&:hover {
			background: var(--yellow);
			color: brown;
		}
	}

	&.icon {
		position: absolute;
		width: 70px;
		background: transparent;
		border: none;

		span {
			background: white;
			padding: 2px;
		}
	}
}

main {
	color: var(--violet);
	background: #ecd3fc;
	display: grid;
	grid-template-areas:
		"bar"
		"address"
		"microblog";
	grid-template-columns: 100%;
	grid-template-rows: 25px 27px 550px;
	position: static;
	margin: auto;
	margin-top: 30px;
	max-width: 800px;
	border: 2px var(--blue2) solid;
	overflow: hidden;
	box-shadow: 3px 3px 10px #4b81bd;
	border-radius: 5px;
}

#blog {
	grid-area: microblog;
	background: var(--yellow);
	display: block;
	width: 100%;
	height: 100%;
	border: none;
	overflow: auto;
	padding: 10px;

	img {
		max-width: 100%;
	}

	button {
		border: 1px solid grey;
		padding: 2px;
		border-radius: 5px;
		background: var(--blue2);
	}

	button:hover {
		background: var(--yellow);
		border-color: var(--blue);
	}

	button:focus {
		border-color: var(--blue2);
		background: var(--pink);
		color: white;
	}
}

#picture-win {
	display: none;
	padding: 5px;
	background: var(--blue2);
	border: 1px solid black;
	position: absolute;
	bottom: 90px;
	right: 250px;
	max-height: 300px;
	overflow: auto;
	width: 290px;
	cursor: move;

	.x {
		margin: 4px;
	}
}

#picture {
	max-width: 100%;
}

#pic-link:hover {
	cursor: zoom-in;
}

#picture-title {
	display: inline-block;
	margin-top: 5px;
	text-shadow: 1px 1px 3px white;
}

#bar {
	background: rgb(250, 216, 175);
	background: linear-gradient(
		0deg,
		rgba(250, 216, 175, 1) 0%,
		rgba(214, 130, 152, 1) 100%
	);
	grid-area: bar;
	text-align: right;
	font-weight: bold;
	font-size: 12px;
	word-spacing: 10px;
	padding: 1px 5px;
}

#address-bar {
	background: var(--yellow);
	grid-area: address;
	font-weight: bold;
	text-align: left;
	font-size: 18px;
	padding: 0px 5px;

	button {
		cursor: help;
		font-size: inherit;
		font-family: inherit;
		font-weight: inherit;
		background: none;
		border: none;
		color: hsla(212, 46%, 52%, 1);
	}
}

#home {
	button {
		width: 150px;
		background-color: transparent;
		border: 1px solid var(--pink);
		padding: 10px;
		cursor: pointer;

		&:hover {
			background-color: var(--pink);
		}

		img {
			display: block;
			width: 100%;
			border-radius: 10px;
			filter: grayscale(50%);

			&:hover {
				filter: grayscale(0%);
			}
		}
	}
}

.year {
	display: block;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 5px 0px;
}

#address {
	font-weight: normal;
	font-size: 16px;
	margin-left: 40px;
	padding: 5px;
	display: inline-block;
	background: white;
	color: black;
	width: 80%;
	line-height: 10px;
	border: 1px solid grey;
	border-radius: 10px;
}

.icon {
	cursor: cell;

	&#puter {
		top: 10px;
		left: 10px;
	}

	&#mouse {
		bottom: 30px;
		left: 70px;
	}

	&#folder {
		top: 20px;
		right: 100px;
	}
}

#notepad {
	display: none;
	position: absolute;
	text-align: left;
	padding: 10px;
	width: 400px;
	height: 400px;
	overflow: auto;
	top: 200px;
	left: 300px;
	background: white;
	border-radius: 10px;

	button.x {
		background: white;
		color: #4b81bd;

		&:hover {
			color: white;
			background: #4b81bd;
		}
	}
}

.bubble {
	display: none;
	text-align: left;
	position: absolute;
	max-width: 190px;
	max-height: 300px;
	padding: 10px;
	border-radius: 10px;
	background: #6f5994;
	color: white;
	overflow: auto;
	border: 1px solid var(--blue1);

	p {
		margin: 10px 0px;
	}

	a {
		color: black;
		background: lightyellow;
		padding: 0px 3px;
	}

	a:hover {
		color: #dcf0c2;
		background: #e992f7;
	}
}

#notes {
	top: 110px;
	right: 100px;
	li {
		cursor: pointer;
		&:hover {
			text-decoration: line-through;
		}
	}
}

#info {
	bottom: 100px;
	left: 30px;
}

footer {
	text-align: left;
	position: fixed;
	bottom: 0px;
	height: 30px;
	background: white;
	width: 100%;
	margin: 0;
}

article {
	margin: 0;
	padding: 2px 10px;
	transition-duration: 0.5s;
}

article:hover {
	background: white;
	border-radius: 10px;
}

.outlink::after {
	content: "↗";
	padding-left: 2px;
	vertical-align: text-bottom;
}

#s-m-t-tooltip {
	color: white;
	font-size: 15px;
	max-width: 200px;
	border-radius: 5px;
	background: #4b81bd;
	box-shadow: 0px 0px 10px white inset;
	text-align: center;
	z-index: 999;
	margin: 30px 15px 7px 12px;
	padding: 5px;
}

.show {
	display: none;
}

@media only screen and (max-width: 1160px) {
	.hide {
		display: none;
	}

	#puter {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	.show {
		display: block;
	}

	#mouse,
	#folder {
		display: none;
	}

	#picture-win {
		left: 1%;
		bottom: 1%;
		position: fixed;
		max-height: 300px;
		overflow: auto;
		width: 290px;
		cursor: move;
	}

	#info,
	#notes {
		max-width: 600px;
		margin: 20px 10px;
		top: 0px;
		right: 0;
		left: 0px;
		bottom: 0px;
		position: relative;
		display: block;
		text-align: center;
	}

	#notepad {
		top: 0px;
		right: 0;
		left: 0px;
		bottom: 0px;
		position: relative;
		width: auto;
		max-width: 600px;
		height: auto;
		margin: 20px 10px;
	}

	#address {
		width: auto;
	}

	main {
		margin: 10px 10px;
		grid-template-rows: 25px 27px 100%;
	}
}
