:root {
	--text-color: #09222c;
	--link-color: #eb8383;
	--bg-color: #ffdfa9;
	--mainbg-color: #fff;
	--border-color: #fa7d7d;
	--accent-color: #fff6a7;
}

* {
	box-sizing: border-box;
}

body {
	color: var(--text-color);
	max-width: 800px;
	margin: 50px auto;
	padding: 5px;
	font-family: ms pgothic, arial;
	font-size: 1.2rem;
	scrollbar-color: var(--bg-color) var(--mainbg-color);
	scrollbar-width: thin;
}

.container {
	position: fixed;
	width: 100%;
	min-height: 100%;
	left: 0;
	top: 0;
	background-image: url("assets/bg.png");
	background-size: cover;
	background-position: top;
	opacity: 0.14;
	filter: saturate(1.5);
	z-index: -1;
}

::selection {
	background: var(--accent-color);
}

a {
	color: var(--link-color);
	font-weight: bold;
}
a:hover {
	text-shadow: 1px 1px 10px var(--link-color);
}

mark {
	background: var(--accent-color);
}

hr {
	border: none;
	border-bottom: 1px dotted var(--border-color);
	margin: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 10px 0px;
	font-family: momo;
	font-size: 1.2rem;
	font-style: italic;
	letter-spacing: 1px;
}
h1 {
	text-shadow: 1px 1px 5px var(--accent-color);
	text-align: center;
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgb(255, 223, 162) 25%,
		rgb(255, 223, 162) 75%,
		rgba(255, 255, 255, 0) 100%
	);
	padding: 3px;
	text-transform: uppercase;
}
h2 {
	border-bottom: 1px solid;
	text-shadow: 1px 1px 5px var(--link-color);
}
h3 {
	margin-right: 15px;
}

header,
nav,
main,
footer {
	border: 1px solid var(--border-color);
	padding: 5px 20px;
	background: var(--mainbg-color);
}
header {
	border-bottom: 1px dotted var(--border-color);
	height: 240px;
	background-image: url("assets/header.png");
	background-position: center;
	background-size: cover;
}

header {
	color: white;
	h1 {
		margin: 15px;
		font-size: 1.8rem;
		font-style: italic;
		text-align: right;
		vertical-align: text-bottom;
		background: none;
		text-transform: none;
	}
}

footer {
	text-shadow: 1px 1px 10px var(--link-color);
	background: none;
	border: none;
	font-style: italic;
	text-align: center;
}

nav {
	padding: 0;
	border: none;
	flex-display: wrap;
	width: 25%;
	border-right: 1px solid var(--border-color);
	height: auto;
}
nav li,
nav ul {
	padding: 2px;
	margin: 0;
	list-style-type: none;
}
nav a {
	display: block;
	color: var(--link-color);
	letter-spacing: 1px;
	text-shadow: 1px 1px 10px var(--link-color);
	font-size: 1.2rem;
	font-style: italic;
	padding: 0 10px;
	font-weight: normal;
}

nav li:hover {
	background: var(--accent-color);
}
nav h2 {
	padding: 3px 10px;
	margin: 0;
	background: var(--bg-color);
	color: var(--mainbg-color);
	text-shadow: 1px 1px 1px var(--border-color);
	text-transform: uppercase;
	text-align: left;
}

main {
	text-align: left;
	border-top: none;
	display: flex;
	padding: 0;
}

section {
	height: 640px;
	overflow: hidden;
	width: 100%;
	margin: 15px;

	.box {
		overflow: auto;
		height: 640px;
		border: 1px dashed var(--border-color);
		padding: 30px;
	}
}

#s-m-t-tooltip {
	color: black;
	border: 1px dashed var(--bg);
	background: var(--link-color);
	max-width: 200px;
	font-family: ms pgothic, arial;
	text-align: center;
	font-size: 16px;
	border-radius: 10px;
	z-index: 9999;
	margin: 30px 15px 7px 12px;
	padding: 5px;
}

@media screen and (max-aspect-ratio: 16/9) {
	body {
		margin: auto;
		padding: 15px;
	}
	header {
		height: 100px;
	}
	main {
		display: block;
	}
	nav {
		width: 100%;
		border-left: none;
		border-bottom: 1px solid var(--border-color);
	}

	nav ul {
		display: flex;
		list-style-type: none;
	}

	section {
		width: 95%;
		height: auto;
		padding: 15px;
		margin: 15px auto;
	}
}
