body {
	background-image: url("/!g/bg/patterbg.gif");
	background-position: bottom;
	background-repeat: repeat;
	background-attachment: fixed;
}

h1 {
	font-size: 21px;
	font-weight: normal;
	font-family: newpenji, morningtea, var(--fonts);
	margin: 0px;
}

#wrapper {
	z-index: 99;
	background-image: url("/!g/bg/yellobg.png");
	background-position: top;
	background-repeat: repeat;
	background-attachment: fixed;
	width: 680px;
	height: 650px;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	border: var(--r-border);
	border-radius: 20px;
}

#top {
	width: 100%;
	height: 50px;
	background: #C9525E;
	border-bottom: 2px solid #E4A79D;
}

#col1 {
	display: inline-block;
	width: 130px;
	height: 600px;
	text-align: center;
	font-family: gaegu-l;
	font-size: 17px;
	line-height: 25px;
	padding: 3px 0px;
	border-right: 2px solid #E4A79D;
	overflow: auto;
}

#col1 img {
	max-width: 100%;
}

#col1 a {
	background: var(--l-red);
	border-radius: 10px;
	line-height: 15px;
	margin: 5px;
	padding: 0px;
	display: block;
	font-weight: bold;
}

#col1 a:hover {
	text-decoration: none;
	background: var(--yellow);
}

#col1 a:focus {
	text-decoration: none;
	background: var(--yellow);
}

#col1 details {
	margin: 0px;
	padding: 0px;
}

#col2 {
	display: inline-block;
	vertical-align: top;
	width: 542px;
	height: 598px;
	border-left: 2px solid #E4A79D;
}

#wrapper2 {
	width: 201px;
	position: absolute;
	top: 25px;
	left: 740px;
	text-align: center;
}

#status {
	padding: 3px;
	background-image: url("/!g/bg/whiteline.jpg");
	background-position: top;
	background-repeat: repeat;
	background-attachment: fixed;
	width: 200px;
	border-radius: 10px;
	border: 4px ridge var(--l-blue);
}

.time {
	font-family: ms gothic;
	background: url(/notebook/!g/grid-blue.png);
	width: 120px;
	height: 40px;
	border-radius: 50px;
	margin-top: 5px;
	padding: 0px 5px;
	border: 3px ridge var(--l-red);
}

.calendarimg {
	box-sizing: border-box;
	margin: auto;
	margin-bottom: -3px;
	width: 178px;
	border: 4px ridge var(--yellow);
	border-bottom: none;
}

.calendar {
	padding: 0px;
	border: none;
	margin: auto;
	margin-top: -5.5px;
	width: 178px;
	height: 210px;
	overflow: hidden;
	border-radius: 0 0 5px 5px;
	border: 4px ridge var(--yellow);
	border-top: none;
}

.sticker{
	position: absolute;
		transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#maskimg {
	z-index: -1;
	top: 130px;
	left: 990px;
	position: absolute;
	rotate: -4deg;
}

.tape {
	position: absolute;
	rotate:-50deg;
	top: 25px;
	left: 5%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.tape img {
	width: 100px;
}

.tape2 {
	position: absolute;
	rotate:130deg;
	top: 270px;
	left: 62%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.tape2 img {
	width: 120px;
}

	.mask{
-webkit-mask-image: url('/!g/deco/paper.png');
  -webkit-mask-size: 400px;
  -webkit-mask-repeat: no-repeat;
}

#tag {
	position: absolute;
	top: 0px;
	left: 4px;
}

#tag a {
	background: transparent;
	font-weight: bold;
	font-size: 12px;
	position: absolute;
	bottom: 40px;
	left: 40%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	rotate: -90deg;
}

#musicbox {
	background-image: url("https://doqmeat.neocities.org/!g/deco/paper.gif");
	background-size: 220px;
	background-repeat: no-repeat;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 230px;
}

#musicbox i {
	background: transparent
}
