* {
	box-sizing: border-box;
}

html {
	scrollbar-color: rgb(112, 170, 89) #fcfabd;
}

body {
	margin: 0px;
	background: lightgoldenrodyellow;
	background-image: url(/!g/bg/h096-2.gif);
	font-family: ms pgothic, basiic, arial;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	word-wrap: break-word;
	scrollbar-color: #e4cad2 #fbedb8;
}

header {
	background: #f595a3;
	position: relative;
	margin: auto;
	margin-top: 20px;
	padding: 10px;
	max-width: 900px;
	border: 6px ridge #fffac4;
}

::selection {
	background: #fffac4;
	color: black;
}

button {
	cursor: help;
	color: rgb(52, 100, 116);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.297);
	border: none;
	background: transparent;
	font-family: var(--fonts);
	font-size: inherit;
}

h1 {
	color: #fffac4;
	text-align: center;
	font-size: 70px;
	line-height: 70px;
	font-weight: normal;
	margin: 0px;
	letter-spacing: 3px;
	font-family: garden-cursive, ms pgothic, arial;
}

main {
	padding: 30px 30px;
	margin: auto;
	display: block;
	position: relative;
	text-align: center;
	width: 95%;
	height: 100%;
	line-height: 0px;
	column-count: 4;
	column-gap: 20px;
}

a {
	cursor: help;
	color: #d2828e;
}

a:hover {
	text-decoration: dashed underline;
}

.pic {
	background: white;
	position: relative;
	display: block;
	width: 100%;
	margin: 20px 0px;
	max-height: 420px;
	transition-duration: 0.3s;
	overflow-x: hidden;
	overflow-y: scroll;

	img {
		width: 100%;
	}

	img:first-of-type {
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}

	img:last-of-type {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
}

.phone {
	border: 5px ridge #c3e6cd;
	border-radius: 15px;
}

.ds {
	border: 5px ridge #c3e6cd;
	border-radius: 15px;
}

.instax {
	border: 5px ridge #c3e6cd;
	border-radius: 15px;
}

.hov {
	opacity: 0;
	position: absolute;
	height: 99%;
	width: 100%;
	transition-duration: 0.6s;
	top: 1px;
}

.hov:hover {
	opacity: 1;
}

.caption {
	position: absolute;
	padding: 10px;
	background: white;
	line-height: 20px;
	max-height: 50%;
	width: 80%;
	overflow: auto;
	top: 25%;
	border-radius: 20px;
	border: 2px dotted #88d49e;
	left: 10%;

	img {
		width: auto;
	}
}

#p1 {
	position: absolute;
	top: 40px;
	margin-left: -100px;
}

#p2 {
	position: absolute;
	top: 90px;
	right: -100px;
}

#p3 {
	position: absolute;
	top: 5px;
	right: -120px;
}

#home {
	position: fixed;
	top: 10px;
	left: 10px;
}

footer {
	background: white;
	font-size: 15px;
	line-height: 20px;
	padding: 5px;
	border-top: 2px dashed black;
	img {
		vertical-align: top;
	}
}

summary {
	cursor: help;
}

details.border-legend {
	p {
		display: inline-block;
		margin: 0 5px;
		background: white;
	}
}

/* shows instax cam */
#cam-pics {
	display: none;
	img {
		max-width: 100%;
	}
}

#s-m-t-tooltip {
	width: 90px;
	font-size: small;
	font-family: ms gothic;
	text-align: center;
	z-index: 9999;
	margin: 30px 15px 7px 12px;
	padding: 5px;
	background: #ddcfc2;
	color: #a98379;
	border: 8px solid white;
	border-bottom-width: 23px;
}

@media only screen and (max-width: 880px) {
	main {
		column-count: 2;
	}
}

@media only screen and (max-width: 545px) {
	main {
		column-count: 1;
	}
}
