<h2>navigation</h2>
<ul>
  <li><a href="#overall">fun links</a></li>
  <li><a href="#compsci">computer science</a></li>
  <ul>
    <li><a href="#software">sofware / frameworks</a></li>
  </ul>
  <li><a href="#web">web</a></li>
  <ul>
    <li><a href="#dragndrop">drag and drop web builders</a></li>
    <li><a href="#join">communities</a></li>
    <ul>
      <li><a href="#dir">directories</a></li>
      <li><a href="#pixel-cliques">pixel cliques</a></li>
      <li><a href="#webrings">webrings</a></li>
    </ul>
    <li><a href="#wikis">wikis</a></li>
  </ul>
  <li><a href="#music">music</a></li>
  <li><a href="#games">games</a></li>
  <li><a href="#tools">tools</a></li>
  <li><a href="#reading">reading</a></li>
  <li><a href="#vid">videos</a></li>
</ul>