<p>my Free 2 Use stuff! credit is not necessary but a link back is appreciated.</p>
<h2>navigation</h2>
<ul>
  <li><a href="index.html">HTML templates</a></li>
  <ul>
    <li><a href="index.html#walkman">JS sony walkman mp3 player</a></li>
    <li><a href="index.html#yukika">yukika passport</a></li>
    <li><a href="index.html#notebook">notebook</a></li>
  </ul>
  <!-- <li><a href="snippets.html">code snippets</a></li>
  <ul>
    <li><a href="snippets.html#rainbow-on-hover">rainbow on hover</a></li>
  </ul>
  <li><a href="materials.html">materials</a></li>
  <ul>
    <li><a href="materials.html#bgs">backgrounds</a></li>
    <li><a href="materials.html#pix">pixels</a></li>
    <li><a href="materials.html#cur">cursors</a></li>
  </ul>
  <li><a href="scans.html">scans</a></li>
  <li><a href="graphics.html">graphics</a></li> -->
</ul>