<p>please visit the creator's page and read their rules (if there's credit linked) if you will be using any of these as well.</p>
<p>credit for these will be linked on the img if i know of it. i'm currently in the process of reverse img searching sources. <b>if you know the source of an img, or are the original creator of any of these and want it deleted: please</b> <a href="tomail:{{ siteInfo.email }}" target="_blank">let me know!</a></p>
<h2>navigation</h2>
<ul>
  <li><a href="#emo">emoticons</a></li>
  <li><a href="#pix">pixels</a></li>
  <ul>
    <li><a href="#tiny">tiny</a></li>
    <li><a href="#fav">favicons</a></li>
    <li><a href="#big">big</a></li>
  </ul>
  <li><a href="#div">dividers</a></li>
  <li><a href="#stickers">stickers</a></li>
  <ul>
    <li><a href="#cats">cats</a></li>
    <li><a href="#music">music</a></li>
    <li><a href="#heart">hearts</a></li>
    <li><a href="#stationary">stationary</a></li>
    <li><a href="#nat">nature</a></li>
    <li><a href="#text">with text</a></li>
    <li><a href="#other-stickers">other</a></li>
    <li><a href="#hw">halloween</a></li>
    <li><a href="#long">long</a></li>
    <li><a href="#vgs">video games</a></li>
  </ul>
  <li><a href="#gif">gifs</a></li>
  <li><a href="#frames">frames</a></li>
</ul>