<h2>navigation</h2>
<ul>
  <li><a href="#favs">personal favs</a></li>
  <ul>
    <li><a href="#resource-pages">other resource pages</a></li>
  </ul>
  <li><a href="#code">coding &amp; webdev</a></li>
  <ul>
    <li><a href="#editor">code editors</a></li>
    <li><a href="#hosting">hosting</a></li>
    <li><a href="#git">git / github</a></li>
    <li><a href="#code-misc">misc</a></li>
  </ul>
  <li><a href="#coding-help">HTML, CSS, and JS</a></li>
  <ul>
    <li><a href="#beginner">the basics (HTML and CSS focused)</a></li>
    <li><a href="#js">javascript</a></li>
    <li><a href="#css">css</a></li>
    <li><a href="#html">html</a></li>
    <ul>
      <li><a href="#layouts">html F2U templates</a></li>
    </ul>
  </ul>
  <li><a href="#sites">useful sites for webdev</a></li>
  <li><a href="#tut">tutorials / guides</a></li>
  <li><a href="#cool">cool stuff 4 your site</a></li>
  <ul>
    <li><a href="#guestbooks">guestbooks</a></li>
    <li><a href="#tools">tools</a></li>
    <li><a href="#calendar">calendars / clocks</a></li>
    <li><a href="#music">music</a></li>
    <li><a href="#rss">rss</a></li>
    <li><a href="#help-misc">misc</a></li>
  </ul>
  <li><a href="#neat">neat pieces of code</a></li>
  <li><a href="#img">graphics</a></li>
  <ul>
    <li><a href="#img-F2U">sites w/ F2U materials</a></li>
    <li><a href="#bgs">backgrounds</a></li>
    <li><a href="#archives">archives / collections</a></li>
    <li><a href="#tumblr">tumblr blogs and masterposts</a></li>
  </ul>
  <li><a href="#font">fonts</a></li>
  <li><a href="#img-editing">image editing</a></li>
  <li><a href="#misc">misc resources</a></li>
</ul>