<p>my free 2 use templates, and layouts. these are mainly done for fun!</p>
<p>source code for these are hosted on <a href="https://tangled.org/doqmeat.com/?tab=repos" target="_blank">tangled</a> repos</p>
<h2>navigation</h2>
<ul>
  <li><a href="#walkman">JS sony walkman mp3 player</a></li>
  <li><a href="#yukika">yukika passport</a></li>
  <li><a href="#notebook">notebook</a></li>
</ul>
<!-- <li><a href="snippets.html">code snippets</a></li>
  <ul>
    <li><a href="snippets.html#rainbow-on-hover">rainbow on hover</a></li>
  </ul>
  <li><a href="materials.html">materials</a></li>
  <ul>
    <li><a href="materials.html#bgs">backgrounds</a></li>
    <li><a href="materials.html#pix">pixels</a></li>
    <li><a href="materials.html#cur">cursors</a></li>
  </ul>
  <li><a href="scans.html">scans</a></li>
  <li><a href="graphics.html">graphics</a></li> -->