body {
	background: #fad97c;
}

main {
	position: relative;
	margin-left: 2%;
	padding: 10px;
	max-width: 600px;
}

#power {
	position: fixed;
	max-width: 320px;
	width: 29%;
	bottom: -10px;
	left: 600px;
	z-index: -1;
}
