body {
	background: url(bg-sora1_2.gif) fixed;
	font-family: newpenji, ms gothic, arial;
	word-wrap: break-word;
	color: black;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	margin: 0px;
}

p img {
	vertical-align: middle;
}

a {
	color: #80503D;
}

a:hover {
	cursor: help;
	text-decoration: wavy underline;
}

::selection {
	color: black;
	background-color: #D0FF8D;
}

textarea {
	display: inline-block;
	margin: auto;
	width: 300px;
	height: 40px;
}

#title {
	position: relative;
	margin: auto;
	margin-top: 20px;
	width: 400px;
}

.neo img {
	width: 88px;
	height: 31px;
}

.banner img {
	width: 150px;
}

.box {
	max-width: 850px;
	background: #FFFBE3;
	position: relative;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 0px;
	padding: 5px;
	border: 1px solid #80503D;
	border-radius: 10px;
}


#c {
	margin-top: 50px;
	margin-bottom: 110px;
}


.footer {
	background: url(/!g/div/bgk_shita1.gif);
	background-repeat: repeat-x;
	position: fixed;
	width: 100%;
	height: 100px;
	bottom: -1px;
	z-index: 888;
}

#home {
	position: fixed;
	top: 5px;
	left: 5px;
}


#s-m-t-tooltip {
	max-width: 200px;
	font-family: newpenji;
	text-align: center;
	font-size: 16px;
	z-index: 9999;
	margin: 30px 15px 7px 12px;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid #80503D;
	color: #80503D;
	background: #FFFBE3;
}
