* {
	box-sizing: border-box;
}

body {
	background: url(celeste/celestefarewell.jpg) no-repeat top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	word-wrap: break-word;
	font-size: 18px;
	line-height: 22px;
	word-spacing: 5px;
	font-family: var(--fonts);
	color: black;
	margin: 0px;
}

:root {
	--fonts: ms pgothic, basiic, arial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: yoster, var(--fonts);
	letter-spacing: 3px;
}

h3,
h4,
h5,
h6 {
	text-align: center;
}

i {
	background: #C7D9F8;
}

mark {
	background: #D0FF8D;
}

a {
	color: #34636F;
	font-weight: bold;
	text-decoration: underline;
}

a:hover {
	color: black;
	text-decoration: dotted underline;
	cursor: help;
}

a:focus,
a:active {
	outline: 0px;
}

li {
	list-style-position: inside;
}

hr {
	border: 1px dashed black;
}

p {
	margin: 15px 0 15px 0;
}

p img {
	vertical-align: middle;
}

mark {
	background: white;
}

::selection {
	color: black;
	background-color: #D69987;
}

summary {
	padding-left: 10px;
	padding: 5px;
	cursor: help;
}

blockquote {
	margin: 1em 40px;
	border-left: 2px dotted black;
	padding-left: 5px;
}

#s-m-t-tooltip {
	max-width: 200px;
	font-family: yoster;
	text-align: center;
	z-index: 9999;
	margin: 30px 15px 7px 12px;
	padding: 5px;
	border-radius: 10px;
	border: 1px dashed black;
	color: black;
	background: white;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb:vertical {
	background: #4DC474;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
	background-color: #4DC474;
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background: rgb(255, 234, 255);
	background: linear-gradient(90deg, rgba(255, 234, 255, 0.6722338593640581) 0%, rgba(255, 234, 255, 0.6778361002604167) 50%);
}

/*content*/

#iframepc {
	background: #ffe3ff;
	padding: 10px;
	max-width: 600px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 2px dashed white;
	border-radius: 10px;
}

.centered {
	text-align: center;
}

#iframepc sub {
	font-weight: bold;
}

.info {
	text-align: right;
	font-size: 16px;
}

#home {
	top: 5px;
	left: 5px;
	position: fixed;
}

#corner {
	position: fixed;
	right: 5px;
	bottom: 5px;
}

.spoiler {
	background-color: black;
	color: black;
}

.spoiler:hover {
	background-color: lightyellow;
}

.date {
	font-weight: bold;
}

.date::after {
	content: " -";
	padding-right: 10px;
}

.cover {
	float: right;
	width: 50%;
	margin: 10px;
}

footer {
	width: 100%;
	padding: 10px;
	text-align: center;
	border-top: 2px dashed white;
	background: #ffe3ff;
}


@media only screen and (max-width: 599px) {

	body {
		background: #ffe3ff
	}

	#iframepc {
		border: none;
		margin: 0px 0px 0px 0px;
		border-radius: 0px;
		padding-bottom: 30px;
	}

	footer,
	.hide {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#home {
		display: none;
	}
}

/*fonts and cursor*/

@font-face {
	font-family: 'morningtea';
	src: url(/fonts/MorningTea.ttf);
}

@font-face {
	font-family: 'basiic';
	src: url(/fonts/basiic.ttf);
}

@font-face {
	font-family: 'yoster';
	src: url(/fonts/yoster.ttf);
}

/* Start https://www.cursors-4u.com */
* {
	cursor: url(https://cur.cursors-4u.net/games/gam-1/gam14.ani), url(https://cur.cursors-4u.net/games/gam-1/gam14.png), auto !important;
}

/* End https://www.cursors-4u.com */
