*{
  box-sizing:border-box;
}

:root{
	--fonts:ms pgothic, basiic, arial;
	--orange:rgb(255, 186, 113,0.9);
	--purple:rgb(190, 168, 210,0.9);
	--border:5px ridge var(--purple);
}
body{
	font-family:var(--fonts);
	font-size:19px;
	word-spacing:5px;
	line-height:23px;
    background: url(/october-movies/bg.png) no-repeat top fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
		background-size: cover;
    word-wrap:break-word;
	margin:0px;
	text-shadow: 1px 1px 5px white;
}

a{
	color:white;
	font-weight:bold;
	transition-duration:0.3s;
	text-shadow: 1px 1px 5px black;
}

a:hover{
	text-decoration:none;
}

h1,h2,h3,h4,h5,h6{
  text-align:center;
	font-family:romanceA,var(--fonts);
	letter-spacing:2px;
}

h1{
	  font-size:45px;
  line-height:45px;
}

header{
	background:var(--orange);
	margin:auto;
	margin-top:50px;
	max-width:700px;
	padding:0px 10px;
	border:var(--border);
	border-radius:10px 10px 0px 0px;
	border-bottom:1px solid transparent;
}

#banner{
background: url(/!g/div/kinglulu-ghosts.gif);
background-repeat: repeat-x;
position:relative;
width:100%;
height:36px;
bottom:0px;
z-index:888;
}

main{
	background:var(--orange);
	margin:auto;
   max-width:700px;
	border-radius:0px 0px 10px 10px;
	border:var(--border);
	border-top:1px solid transparent;
}

details{
		padding:0px;
		padding-right:10px;
		margin:20px 10px 20px 40px;
	}
	summary i{
	  font-family:romanceA,var(--fonts);
	  font-size:20px;
	}
	summary{
		cursor:help;
		padding:0px;
		display:block;
		transition-duration:0.5s
	}
	
	summary:hover{
	  letter-spacing:3px;
	}
	summary::before{
		content:url(/!g/pix/kabocha2-2b.gif);
		vertical-align:top;
		padding-right:5px;
	}
	.date-watched{
		margin-top:15px;
		text-align:right;
	}
.spoiler{
  background:black;
  color:black;
	text-shadow:none;
}
  .spoiler:hover{
    background:var(--purple);
    text-shadow: 1px 1px 5px white;
}
footer{
	width:100%;
	background:var(--purple);
	color:white;
	text-shadow:none;
	text-align:center;
	margin-top:30px;
	padding:5px 10px;
	border-color:black;
	border-style:dashed;
	border-width:2px 0px 2px 0px;
	margin-bottom:50px;
}

footer a{
	color:rgb(255, 186, 113);
	text-shadow:none;
}
	
.glow{
		filter: drop-shadow(2px 0px 5px var(--purple)) drop-shadow(0px 2px 5px var(--purple)) drop-shadow(-2px 0px 2px var(--purple));
	}

#p1{
content:url(/!g/deco/sushi-pix-ghostie.gif);
position:fixed;
top:200px;
margin-left:-69px;
	opacity:0.9;
}

#p3{
content:url(/!g/deco/spiderweb.gif);
position:fixed;
top:0px;
right:0px;
}

#p4{
content:url(/!g/div/pumpkin.gif);
position:absolute;
	 top:5%;
  left:50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  filter: drop-shadow(2px 0px 0px white) drop-shadow(0px 2px 0px white) drop-shadow(-2px 0px 0px white) drop-shadow(0px -2px 0px white);
}

#home{
  position:fixed;
  top:10px;
  left:10px;
}

 @media only screen and (max-width: 599px) {
    
     body{
     background-repeat:repeat;
     background-size:auto;
     font-size:16px;
     line-height:20px;
     }
     
     h1{
       font-size:22px;
       line-height:23px;
     }
     
     header{
      margin-top:0px;
     }
     
     footer img[align]{
       display:none;
       }
     
    #p1,#p2,#p3,#p4,#home{display:none;}
}

#s-m-t-tooltip{
	max-width: 200px;
	font-family:romanceA,var(--fonts);
 text-align:center;
	font-size:20px;
	line-height:22px;
	z-index: 9999;
	margin: 30px 15px 7px 12px;
	padding:5px;
	border:2px dashed white;
	color:orange;
	background:black;
	text-shadow:none;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/toons/too-9/too879.ani), url(https://cur.cursors-4u.net/toons/too-9/too879.png), auto !important;} /* End https://www.cursors-4u.com */