---
title: doqmeat's resources
tags: ["subpage"]
---
{% layout "resources/index.html" %}
{% block nav %}
<h2>navigation</h2>
<ul>
  {% for item in collections.resources_page %}
  <li><a href="{{ item.page.url }}">{{ item.data.title }}</a> - {{ item.data.desc }}</li>
  {% endfor %}
</ul>
{% endblock %}
{% block content %}
<h2>info</h2>
<p>hoarding links is my passion.</p>
<p>in here you'll find many helpful links that have helped me throughout my journey of making this site. there will be stuff related to webdev, indie web, and other tech stuff you might find useful! i also save anything remotely useful.</p>
<p>sometimes i make free to use (F2U) stuff such as templates, code snippets, site materials, and more! take whatever you need from here.</p>
<h3>credit</h3>
<ul>
  <li>background from <a href="https://unsplash.com/photos/crumpled-iridescent-plastic-film-texture-r2F5ZIEUPtk" target="_blank">unsplash</a></li>
  <li>bullet point pixels by <a href="https://www.fancyparts.com/" target="_blank">fancyparts.com</a></li>
</ul>
{% endblock %}