		* {
			box-sizing: border-box;
		}

		body {
			background: url(bg.png);
			background-position: right center;
			background-size: cover;
			font-family: ms pgothic, arial;
			margin: 0;
			text-align: center;
			color: black;
			font-size: 14px;
		}

		a {
			text-decoration: none;
			color: black;
			cursor: help;
		}

		main {
			color: #99664c;
			background: #ecd3fc;
			display: grid;
			grid-template-areas:
				"bar"
				"address"
				"frame";
			grid-template-columns: 100%;
			grid-template-rows: 25px 27px 550px;
			position: relative;
			margin: auto;
			margin-top: 30px;
			width: 1000px;
			border: 3px #99664c solid;
			overflow: hidden;
			box-shadow: 3px 3px 10px #4b81bd;
			border-radius: 5px;
		}

		main a {
			color: white;
		}

		iframe {
			grid-area: frame;
			display: block;
			width: 100%;
			height: 100%;
			border: none;
		}

		#bar {
			/*
			background: rgb(255, 255, 255);
			background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(214, 130, 152, 1) 100%);
*/
			grid-area: bar;
			text-align: right;
			font-weight: bold;
			letter-spacing: 3px;
			font-size: 11px;
			padding: 1px 5px;
		}

		#address-bar {
			grid-area: address;
			font-weight: bold;
			text-align: left;
			font-size: 18px;
			padding: 0px 5px;
			border-bottom: 1px solid #99664c;
		}


		#address {
			font-weight: normal;
			font-size: 16px;
			margin-left: 40px;
			padding: 5px;
			display: inline-block;
			background: #99664c;
			width: 80%;
			line-height: 10px;
			border: 1px solid grey;
			border-radius: 10px;
		}

		.icon {
			position: absolute;
			width: 70px;

		}

		#trash {
			top: 100px;
			right: 50px;
		}

		#puter {
			top: 10px;
			left: 10px;
		}

		#mouse {
			bottom: 30px;
			left: 70px;
			cursor: cell;
		}

		#info {
			display: none;
			position: absolute;
			bottom: 100px;
			left: 30px;
			background: url(/!g/bg/h056-4.gif);
			background-position: left top;
			width: 150px;
			height: 150px;
			padding: 10px;
			border-radius: 10px;
			overflow: auto;
		}

		#info p {
			margin: 10px 0px;
		}

		#info a {
			color: #e992f7;
			background: #dcf0c2;
			padding: 0px 3px;
		}

		#info a:hover {
			color: #dcf0c2;
			background: #e992f7;
		}

		.icon span {
			background: rgb(249, 251, 242, 0.7);
			padding: 1px;
		}

		footer {
			text-align: left;
			position: fixed;
			bottom: 0px;
			height: 30px;
			background: white;
			width: 100%;
			margin: 0;
		}
