* {
  box-sizing: border-box;
}

:root {
  --fonts: ms pgothic, gaegu-l, arial;
}

html {
  scrollbar-color: #b18bb1 #d5eeb1;
}

body {
  background: url(!g/bg.png) no-repeat top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  word-wrap: break-word;
  background-color: #d5eeb1;
  font-size: 18px;
  line-height: 22px;
  word-spacing: 5px;
  font-family: var(--fonts);
  color: black;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: yoster, var(--fonts);
  letter-spacing: 3px;
  line-height: normal;
}

h3,
h4,
h5,
h6 {
  text-align: center;
}

i {
  background: #c7d9f8;
}

mark {
  background: #d0ff8d;
}

a {
  color: #34636f;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: black;
  text-decoration: dotted underline;
  cursor: help;
}

a:focus,
a:active {
  outline: 0px;
}

li {
  list-style-position: inside;
}

hr {
  background: url(/!g/div/clover.png);
  height: 23px;
  border: none;
}

p {
  margin: 15px 0 15px 0;
}

p img {
  vertical-align: middle;
}

mark {
  background: white;
}

::selection {
  color: black;
  background-color: #d69987;
}

summary {
  padding-left: 10px;
  padding: 5px;
  cursor: help;
}

blockquote {
  margin: 1em 40px;
  border-left: 2px dotted black;
  padding-left: 5px;
}

figure {
  padding: 0;
  margin: 10px;
  text-align: center;
  font-size: 15px;
}

#s-m-t-tooltip {
  max-width: 200px;
  font-family: yoster;
  text-align: center;
  z-index: 9999;
  margin: 30px 15px 7px 12px;
  padding: 5px;
  border-radius: 10px;
  border: 1px dashed black;
  color: black;
  background: white;
}

/*content*/

#iframepc,
main {
  background: #ffe3ff;
  padding: 10px;
  max-width: 600px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px dashed white;
  border-radius: 10px;
}

.centered {
  text-align: center;
}

.outlink:after {
  content: url(/!g/web/materials/outlink2.png);
  padding-left: 3px;
  vertical-align: text-bottom;
}

.info {
  text-align: right;
  font-size: 16px;
}

#home {
  top: 5px;
  left: 5px;
  position: fixed;
}

#corner {
  position: fixed;
  right: 5px;
  bottom: 5px;
}

.spoiler {
  background-color: black;
  color: black;
}

.spoiler:hover {
  background-color: lightyellow;
}

.date {
  font-weight: bold;
}

.date::after {
  content: " -";
  padding-right: 10px;
}

.cover {
  float: right;
  margin: 10px;
}

footer {
  width: 100%;
  padding: 10px;
  text-align: center;
  border: 2px dashed white;
  border-left: 0px;
  border-right: 0px;
  background: #ffe3ff;
}

@media only screen and (max-width: 599px) {
  body {
    background: #ffe3ff;
  }

  #iframepc,
  main {
    border: none;
    margin: 0px 0px 0px 0px;
    border-radius: 0px;
    padding-bottom: 30px;
  }

  footer,
  .hide {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  #home {
    display: none;
  }
}

/*fonts and cursor*/

@font-face {
  font-family: "basiic";
  src: url(/fonts/basiic.ttf);
}

@font-face {
  font-family: "yoster";
  src: url(/fonts/yoster.ttf);
}

/* Start https://www.cursors-4u.com */
* {
  cursor: url(https://cur.cursors-4u.net/games/gam-1/gam14.ani),
    url(https://cur.cursors-4u.net/games/gam-1/gam14.png), auto !important;
}

/* End https://www.cursors-4u.com */
