/* body css */
body {
  background-size: 10px;
  font-size: 16px;
  line-height: 20px;
  font-family: yoster;
  margin: 0px;
}

.centered {
  text-align: center;
}

/* inline CSS */

#wrapper {
  z-index: 10;
  margin: 20px 0px 30px 700px;
  position: relative;
  width: 560px;
}

#myBtnContainer {
  margin-bottom: 10px;
}

a {
  font-weight: normal;
  text-decoration: none;
  color: black;
}

.filterDiv img {
  box-sizing: border-box;
  width: 100%;
  opacity: 0.7;
}

.filterDiv img:hover {
  opacity: 1;
  cursor: cell;
}

.filterDiv img:focus {
  opacity: 1;
  border: 1px dashed black;
  border-radius: 10px;
}

.filterDiv {
  background: white;
  position: relative;
  overflow: hidden;
  width: 130px;
  height: 130px;
  text-align: center;
  margin: 4px 0;
  display: none;
  transition-duration: 0.4s;
}

.filterDiv:hover,
.filterDiv:focus,
.filterDiv:active {
  border-radius: 10px;
}

.show {
  display: inline-block;
}

.btn {
  font-size: 12px;
  font-family: yoster;
  text-align: center;
  vertical-align: middle;
  background: #cee8f3;
  color: black;
  margin: 4px -1px;
  padding: 2px 3px;
  cursor: help;
  border: 3px outset #e1d1f0;
}

.btn.g {
  background: #fdd8f5;
}

.btn:hover {
  background: #fdf8c3;
  border: 3px inset #e1d1f0;
}

.btn.active {
  background-color: #cbf6de;
  color: black;
  border: 3px inset #e1d1f0;
}

#infowrapper {
  z-index: 10;
  width: 550px;
  position: fixed;
  margin-top: 30px;
  margin-left: 100px;
}

#info {
  background: #ffe3ff;
  height: 500px;
  width: 550px;
  border-radius: 20px;
  border: 2px dashed white;
  overflow: hidden;
}

/* pagedoll */

#pagedoll {
  pointer-events: none;
  z-index: 10;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  left: 50%;
  bottom: 6%;
}

#pagedoll2 {
  pointer-events: none;
  z-index: 10;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  left: 50%;
  top: 1%;
}
#home {
  z-index: 1;
}
#home a {
  position: fixed;
  cursor: pointer;
  left: -70px;
  top: 5px;
}

#back {
  text-align: center;
  padding: 5px;
  font-size: 13px;
  border-radius: 20px;
  border: 2px dashed white;
  position: relative;
  background: #cee8f3;
  width: 300px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

#top {
  z-index: 1;
  position: fixed;
  bottom: 10px;
  right: -20px;
}

@media only screen and (max-width: 1240px) {
  #back {
    display: block;
    margin-bottom: 10px;
  }

  #wrapper {
    position: relative;
    margin: auto;
  }

  #infowrapper {
    position: relative;
    margin: auto;
    margin-top: 10px;
    top: 0;
    left: 0;
  }

  #pagedoll2,
  #pagedoll,
  #top,
  #home {
    display: none;
  }
}
