<!DOCTYPE html>
<html lang="en">

<!-- https://www.gameuidatabase.com/gameData.php?id=497 -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="des video game journal">
  <link rel="icon" type="image/x-icon" href="/_files/assets/pix/gayming.gif">
  <link rel="stylesheet" href="/_files/pages/vgs/body.css">
</head>

<body>
  <div id="wrapper">
    <sidebar>
      <h1>{{ title }}</h1>
      {% assign allTags = tags | join: "," %}
      <aside id="box1">
        {% if allTags contains "gamelog" %}
        <img src="/_files/pages/vgs/games/{{ page.fileSlug }}/cover.jpg" alt="{{ page.title }} game cover" class="gamelog_cover">
        <!-- make full date filter -->
        <p><b>release date:</b> {{ release_date | date:"%d %B %Y","UCT" | downcase }}</p>
        <p><b>dev:</b> {{ dev }} </p>
        <p><b>genre:</b> {{ genre }}</p>
        <p><b>status:</b> {{ status }}</p>
        {% else %}
        <p>sharing my thoughts, progress, and screenshots of video games i've played! spoilers will be hidden!</p>
        <p>here's my <a href="https://backloggd.com/u/doqmeat/" target="_blank">backloggd</a> for a comprehensive list of everything i've played / completed / want to play / etc!</p>
        {% endif %}
        {% block box1 %}
        {% endblock %}
      </aside>
      <wrapper id="sticky-wrap">
        <img id="pagedoll" src="/_files/pages/vgs/drifter-pagedoll.png" alt="">
        <hr id="l-1">
        <aside id="box2">

          {% block box2 %}
          <h3>latest logs</h3>
          <ul>
            <li>added: {% for log in collections.gamelogPublishedDate reversed %}<a title="added on {{ log.date | shortDate }}" href="{{ log.url }}">{{ log.data.title }}</a>{% if forloop.index0 == 1 %}{% break %}{% else %}, {% endif %}{% endfor %}</li>
            <li>updated: {% for log in collections.gamelog reversed %}<a title="updated on {{ log.date | shortDate }}" href="{{ log.url }}">{{ log.data.title }}</a>{% if forloop.index0 == 3 %}{% break %}{% else %}, {% endif %}{% endfor %}</li>
          </ul>
          {% endblock %}
        </aside>
        <hr id="l-2">
        <aside id="box3">

          {% if page.url == "/vgs/" %}
          <h3>add me! <button onclick="togglePopUp()">?</button></h3>
          <ul>
            <li>steam: <a href="https://steamcommunity.com/id/lakiitu/" target="_blank">lakiitu</a></li>
            <li>pretendo: 5427-1045-8513</li>
            <li>PSN: doqmeat</li>
            <li>switch: 3336-0516-7511</li>
          </ul>
          {% else %}
          <p>page published on: <b>{{ published_date | shortDate }}</b></p>
          <p>last updated on: <b>{{ page.date | shortDate }}</b></p>
          {% endif %}

          {% block box3 %}
          {% endblock %}
        </aside>
        <hr id="l-3">
        <aside id="box4">
          {% if page.url == "/vgs/" %}
          <p>last updated on: <b>{{ page.date | shortDate }}</b></p>
          {% endif %}
          <p>go back to {% if page.url != "/vgs/" %} <a title="scroll to the top of the page!" href="#">top</a> / <a href="/vgs">vgs</a> / {% endif %}<a href="/">home</a> / <a href="/sitemap">sitemap</a></p>
        </aside>
      </wrapper>
    </sidebar>

    <main>
      {% block main %}
      <p>main block</p>
      {% endblock %}
    </main>
    <!-- end wrapper div -->
    <dialog id="gaming-socials">
      <p>if you are adding me to any of these, please send me a message or an <a href="mailto:{{ siteInfo.email }}">e-mail</a> to me know who you are! i don't accept requests from people i don't know :p</p>
      <button onclick="togglePopUp()">got it!</button>
    </dialog>
  </div>

  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <script src="/_files/js/tooltip.js"></script>
  <script src="/_files/pages/vgs/index.js"></script>
</body>

</html>