<!DOCTYPE html>
<html lang="en">

<!-- https://www.gameuidatabase.com/gameData.php?id=497 -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="des video game journal">
  <link rel="icon" type="image/x-icon" href="/_files/assets/pix/silly-cat.gif">
  <link rel="stylesheet" href="/_files/pages/vgs/body.css">
</head>

<body>
  <div id="wrapper">
    <sidebar>
      <h1>{{ title }}</h1>
      {% assign allTags = tags | join: "," %}
      <aside id="box1">
        {% if allTags contains "gamelog" %}

        <img src="/_files/pages/vgs/games/{{ page.fileSlug }}/cover.jpg" alt="{{ page.title }} game cover" class="gamelog_cover">
        <!-- make full date filter -->
        <p><b>release date:</b> {{ release_date | postDate }}</p>
        <p><b>dev:</b> {{ dev }} </p>
        <p><b>genre:</b> {{ genre }}</p>
        <p><b>status:</b> {{ status }}</p>
        {% else %}
        <p>sharing my thoughts, progress, and screenshots of video games i've played! spoilers will be hidden!</p>
        <p>here's my backloggd acc for a comprehensive list of everything i've played / completed / want to play / etc!</p>
        <p>to get a sense of what stuff i like, here's 10 video games i could play forever</p>
        {% endif %}
        {% block box1 %}
        {% endblock %}
      </aside>
      <wrapper id="sticky-wrap">
        <img id="pagedoll" src="/_files/pages/vgs/drifter-pagedoll.png" alt="">
        <hr id="l-1">
        <aside id="box2">

          {% block box2 %}
          {% unless allTags contains "gamelog" %}
          <h3>highlighted entries</h3>
          <ul>
            <li>latest added:</li>
            <li>latest updated:</li>
          </ul>
          {% endunless %}
          {% endblock %}
        </aside>
        <hr id="l-2">
        <aside id="box3">

          {% if page.url == "/vgs/" %}
          <h3>add me! <button>?</button></h3>
          <ul>
            <li>steam: <a href="https://steamcommunity.com/id/lakiitu/" target="_blank">lakiitu</a></li>
            <li>pretendo: 5427-1045-8513</li>
            <li>PSN: doqmeat</li>
            <li>switch: 3336-0516-7511</li>
          </ul>
          {% else %}
          <p>page published on: <b>{{ published_date | postDate }}</b></p>
          <p>last updated on: <b>{{ page.date | postDate }}</b></p>
          {% endif %}

          {% block box3 %}
          {% endblock %}
        </aside>
        <hr id="l-3">
        <aside id="box4">
          {% if page.url == "/vgs/" %}
          <p>last updated on: <b>{{ page.date | postDate }}</b></p>
          {% endif %}
          <p>go back to {% if page.url != "/vgs/" %} <a href="/vgs">vgs index</a> / {% endif %}<a href="/">home</a> / <a href="/sitemap">sitemap</a></p>
          <p>scroll to <a href="#">top</a></p>
        </aside>
      </wrapper>
    </sidebar>

    <main>
      {% block main %}
      <p>main block</p>
      {% endblock %}
    </main>
    <!-- end wrapper div -->
  </div>

  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <script src="/_files/js/tooltip.js"></script>
</body>

</html>