#wrapper {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav frame log"
    "nav frame updates"
    "mv mv mv"
    "featured featured featured"
    "graphics poll widgets"
    "foot foot foot";
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: 200px 260px 230px 150px 280px 250px auto;
  gap: 10px;
  padding: 5px 30px 5px 5px;
  margin-bottom: 30px;
}

.box {
  border: 2px solid var(--l-brown);
  overflow: auto;
  position: relative;
  border-radius: 10px;
}

#header {
  grid-area: header;
  background: url(!g/index/header.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

#header h1 {
  word-spacing: 25px;
  letter-spacing: 10px;
  text-align: center;
  font-size: 25px;
}

#nav {
  grid-area: nav;
  background: var(--soft-brown);
  padding: 3px 5px;
}

#nav a {
  display: block;
  margin: 10px 0px;
  padding: 5px 0px;
  transition-duration: 0.3s;
  font-family: newpenji;
  font-weight: normal;
  font-size: 20px;
  line-height: 16px;
}

#nav a:hover {
  margin-left: 15px;
  color: var(--l-brown);
}

#nav h3,
#nav h4 {
  -webkit-text-stroke-width: 1px;
  text-align: center;
  letter-spacing: 2px;
}

#nav h3 {
  font-size: 15px;
}

#nav h4 {
  font-size: 13px;
}

#frame {
  grid-area: frame;
  background: var(--l-yellow);
  overflow: hidden;
}

#frame iframe {
  border: 0;
}

#music-player {
  grid-area: player;
  background: var(--pink);
}

#updates {
  grid-area: updates;
  padding: 10px;
  background: white;
}

#updates h3 {
  font-size: 14px;
}

#updates p {
  margin: 15px 0;
}
#mv {
  grid-area: mv;
  line-height: 0px;
  overflow: hidden;
}
#mv a {
  padding: 0;
  margin: 0;
  background: transparent;
}

#mv img {
  text-align: center;
  vertical-align: middle;
  line-height: 0;
  max-width: 1000px;
}

#log {
  background: #ffe4ed;
  grid-area: log;
  padding-top: 5px;
  overflow: hidden;
}

#log a {
  position: absolute;
  display: inline-block;
  background: transparent;
  top: 1px;
  left: 1px;
  width: 100%;
  height: 100%;
}
#log iframe {
  border: none;
}

#log h3 {
  font-size: 13px;
  position: absolute;
  display: block;
  margin-top: 10px;
  margin-left: 4px;
}

#featured {
  grid-area: featured;
  background: var(--l-brown);
  color: var(--l-yellow);
  padding: 5px;
}

#featured i {
  color: var(--brown);
}

#featured p {
  margin: 0px;
}

#featured h3 {
  -webkit-text-stroke-width: 1px;
  font-size: 15px;
  margin: 5px 0px;
  text-align: center;
}

#featured h4 {
  font-family: ms pgothic, var(--fonts);
  -webkit-text-stroke-width: 0px;
  font-size: 15px;
  margin: 5px 0px;
  text-align: center;
}

#featured iframe {
  width: 100%;
  height: 152px;
  border-radius: 10px;
}

#featured hr {
  border: 1px dashed var(--yellow);
}

.song,
.lp {
  display: inline-block;
  padding: 0px 40px;
  width: 49%;
  vertical-align: top;
}

#poll {
  grid-area: poll;
  background: url(!g/index/is-he-listening.png) no-repeat;
  background-size: 400px;
  background-position: top left;
  background-color: white;
  text-align: right;
  padding: 5px;
}

#poll h3 {
  font-size: 14px;
  margin: 15px 0px;
}

#widgets {
  grid-area: widgets;
  background: var(--yellow);
  text-align: center;
}

#widgets h3 {
  font-size: 14px;
}

#widgets a,
#graphics a,
#home a {
  background: transparent;
}

#graphics {
  grid-area: graphics;
  background: var(--pink);
  text-align: center;
}

#foot {
  grid-area: foot;
  background: var(--soft-brown);
  color: var(--l-pink);
  text-align: center;
  padding: 5px;
}

/* music player */

#musicplayer {
  width: 100%;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
}

.songtitle,
.track-info,
.now-playing {
  padding: 5px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px !important;
  /* size of controls */
  width: 100%;
}

.buttons div {
  width: 33.3%;
}

.seeking,
.volume {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.now-playing,
.track-info {
  background-color: var(--l-pink);
  /* background color of top two boxes */
}

.now-playing {
  font-weight: bold;
}

i.fa-pause,
i.fa-play,
i.fa-forward,
i.fa-backward {
  color: var(--l-brown);
}

i.fa-play,
i.fa-pause {
  font-size: 30px !important;
  /* size of play pause button */
}

input[type="range"] {
  background: transparent;
  -webkit-appearance: none;
  /* removes default appearance of the tracks */
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
  /* removes outline around tracks when focusing */
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  /* thickness of seeking track */
  background: var(--brown);
  /* color of seeking track */
}

input[type="range"]::-webkit-slider-thumb {
  height: 10px;
  /* height of seeking square */
  width: 10px;
  /* width of seeking square */
  border-radius: 0px;
  /* change to 5px if you want a circle seeker */
  background: var(--brown);
  /* color of seeker square */
  -webkit-appearance: none;
  margin-top: -3px;
  /* fixes the weird margin around the seeker square in chrome */
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  /* thickness of seeking track */
  background: var(--brown);
  /* color of seeking track */
}

input[type="range"]::-moz-range-thumb {
  height: 10px;
  /* height of seeking square */
  width: 10px;
  /* width of seeking square */
  border-radius: 0px;
  /* change to 5px if you want a circle seeker */
  background: var(--yellow);
  /* color of seeker square */
  border: none;
  /* removes weird border around seeker square in firefox */
}

@media only screen and (max-width: 700px) {
  #wrapper {
    display: block;
    margin: 0;
    padding: 0 20px;
  }

  .box {
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 40px;
  }

  #header {
    height: 200px;
    background-size: contain;
    background-position: bottom;
    background-color: white;
  }

  #nav {
    padding: 5px;
  }

  #nav a::before {
    content: "☆ ";
    padding-left: 10px;
    color: white;
  }

  #nav a {
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  #nav h4 {
    text-align: left;
  }

  #frame {
    height: 400px;
  }

  #updates {
    width: 100%;
  }

  #mv img {
    text-align: center;
    vertical-align: middle;
    line-height: 0;
    max-width: 100%;
  }

  #featured {
    margin-left: 0;
  }

  #poll {
    height: 300px;
  }

  #log {
    height: 300px;
  }

  #music-player {
    width: 70%;
  }
}
