@font-face {
  font-family: "quiet-meows";
  src: url(Quiet-Meows.ttf);
}

@font-face {
  font-family: "basiic";
  src: url(basiic.ttf);
}

@font-face {
  font-family: "all-cat";
  src: url(All_things_CAT_.ttf);
}

@font-face {
  font-family: "heartfont";
  src: url(heartfont.ttf);
}

@font-face {
  font-family: "romanceA";
  src: url(RomanceA.ttf);
}

@font-face {
  font-family: "yoster";
  src: url(yoster.ttf);
}

@font-face {
  font-family: "glamourgirl";
  src: url(GLAMOURGIRL.TTF);
}

@font-face {
  font-family: "iconbit2";
  src: url(IconBitTwo.ttf);
}

@font-face {
  font-family: "dream";
  src: url(dream.ttf);
}

@font-face {
  font-family: "emojifont";
  src: url(EmojiFont.ttf);
}

@font-face {
  font-family: "nintendo-ds-bios";
  src: url(Nintendo-DS-BIOS.ttf);
}

@font-face {
  font-family: "morningtea";
  src: url(MorningTea.ttf);
}

@font-face {
  font-family: "pink-tape";
  src: url(pink-tape.ttf);
}

@font-face {
  font-family: "minecraft";
  src: url(Minecraft.ttf);
}

@font-face {
  font-family: "starlight";
  src: url(starlight.ttf);
}

@font-face {
  font-family: "newpenji";
  src: url(mikiyu-newpenji-p.ttf);
}

@font-face {
  font-family: "always-in-my-heart";
  src: url(Always%20In%20My%20Heart.ttf);
}

@font-face {
  font-family: "daydream";
  src: url(Daydream.ttf);
}

@font-face {
  font-family: "cat paw";
  src: url(Cat-paw.ttf);
}

@font-face {
  font-family: "cattie";
  src: url(Cattie.ttf);
}

@font-face {
  font-family: "typogarden";
  src: url(typogarden-demo.ttf);
}

@font-face {
  font-family: "katto";
  src: url(Katto-PersonalUse.otf);
}

@font-face {
  font-family: "garden-reg";
  src: url(GrowingGarden-Regular.ttf);
}

@font-face {
  font-family: "garden-cursive";
  src: url(GrowingGarden-Script.ttf);
}

@font-face {
  font-family: "cozy kitty";
  src: url(CozyKitty-Regular%202.ttf);
}

@font-face {
  font-family: "garden-emoji";
  src: url(GrowingGarden-Dingbats.ttf);
}

@font-face {
  font-family: "gaegu-b";
  src: url(Gaegu-Bold.ttf);
}

@font-face {
  font-family: "gaegu-l";
  src: url(Gaegu-Light.ttf);
}

@font-face {
  font-family: "gaegu-r";
  src: url(Gaegu-Regular.ttf);
}

@font-face {
  font-family: "natsuzemi";
  src: url(natsuzemi.ttf);
}

@font-face {
  font-family: "bangalore";
  src: url(Bangalor.ttf);
}

@font-face {
  font-family: "spirit";
  src: url(Spirit.ttf);
}

@font-face {
  font-family: "kakomiA";
  src: url(KakomiA.ttf);
}

@font-face {
  font-family: "simple";
  src: url(Simple.ttf);
}

@font-face {
  font-family: "nanum-b";
  src: url(NanumSquareRoundOTFB.otf);
}

@font-face {
  font-family: "nanum-eb";
  src: url(NanumSquareRoundOTFEB.otf);
}

@font-face {
  font-family: "nanum-l";
  src: url(NanumSquareRoundOTFL.otf);
}

@font-face {
  font-family: "nanum-r";
  src: url(NanumSquareRoundOTFR.otf);
}

@font-face {
  font-family: "bm-neko";
  src: url(bm-neko.TTF);
}

@font-face {
  font-family: "kiwisoda";
  src: url(KiwiSoda.ttf);
}

@font-face {
  font-family: "oldschool-ad";
  src: url(old-school-adventures.ttf);
}

@font-face {
  font-family: "momo";
  src: url(Momos-Regular.ttf);
}

@font-face {
  font-family: "small-pixel";
  src: url(04B-24.TTF);
}

@font-face {
  font-family: "mononoki";
  src: url(mononoki.ttf);
}

@font-face {
  font-family: "silkscreen";
  src: url(silkscreen.ttf);
}
