<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/!g/pix/puter.gif" type="image/x-icon">
  <link rel="stylesheet" href="/info/style.css">
  <link rel="stylesheet" href="/fonts/stylesheet.css">
  <title>info</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script src="/!f/tooltip-jquary.js"></script>
  <script src="/!f/tooltip.js"></script>
</head>

<body>
  <div class="wrapper">
    <header>
      <h1><!--# block name="title" -->info<!--# endblock --></h1>
    </header>
    <nav>
      <h2>navigation</h2>
      <ul>
        <li><a href="/">homepage</a></li>
        <li><a href="/sitemap">sitemap</a></li>
      </ul>
      <h3>sitely</h3>
      <ul>
        <li><a href="/info/index.html">info</a></li>
        <li><a href="/info/git.html">git updates</a></li>
        <li><a href="/info/credit.html">credit</a></li>
        <li><a href="/info/insp.html">inspiration</a></li>
      </ul>
      <h3>archives</h3>
      <ul>
        <li><a href="/info/past-homepages.html">homepages</a></li>
        <li><a href="/info/past-layouts.html">layouts</a></li>
        <li><a href="/info/updates.html">updates</a></li>
      </ul>

    </nav>
    <main>
      <!--# block name="content" -->if you are seeing this.... oops.<!--# endblock -->
    </main>
    <!-- footer -->
    <footer>
      <p><b>last updated on <!--# block name="updated" -->30.jan.26<!--# endblock --></b></p>
      <p><b>credit:</b> body bg from <a href="https://unsplash.com/@javchz?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Javier Garcia Chavez</a> on <a href="https://unsplash.com/photos/vast-green-field-under-a-dramatic-cloudy-sky-4uTaNeCMYVI?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>, <a href="/notebook/resources/fonts.html">fonts</a> used: mononoki, dotgothic16.</p>
    </footer>
  </div>
</body>

</html>