* {
  box-sizing: border-box;
}

body {
  background: url("/!g/bg/ritva-1.gif");
  margin: 10px;
  font-family: gaegu-r, ms pgothic;
  font-size: 18px;
  text-shadow: 2px 2px 3px #ffffff;
}

h1 {
  font-family: ;
}

main {
  margin: auto;
  max-width: 600px;
}

i {
  color: rgb(84, 112, 157);
}

a {
  color: rgb(217, 221, 249);
  background: rgb(88, 61, 61);
  padding: 1px;
  text-decoration: none;
  border-radius: 5px;
  text-shadow: none;
}
.q {
  font-style: italic;
  background: url("q.gif");
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  line-height: 16px;
  padding: 15px 220px 120px 140px;
  border-radius: 10px;
  font-size: 15px;
}

footer {
  text-align: center;
}

@media only screen and (max-width: 540px) {
  .q {
    background: white;
    padding: 5px;
    height: auto;
    text-align: right;
    font-size: inherit;
    border: 1px solid black;
  }
}
