* {
	box-sizing: border-box;
}

body {
	background: url("/!g/bg/ritva-1.gif");
	font-family: gaegu-r, ms pgothic, arial;
	font-size: 19px;
	text-shadow: 2px 2px 3px #ffffff;
}

h1 {
	font-family: morningtea;
	text-align: center;
}

main {
	max-height: 100%;
	background: rgba(255, 255, 255, 0.612);
	margin: auto;
	margin-top: -10px;
	margin-bottom: -10px;
	padding: 10px;
	max-width: 600px;
	border: 5px double #dcf2ed;
	border-top: 0px;
	border-bottom: 0px;
}

summary {
	cursor: help;
	font-style: italic;
}

i {
	color: rgb(84, 112, 157);
}

footer {
	padding-top: 30px;
	text-align: center;
}

#s-m-t-tooltip {
	background: black;
	color: white;
	max-width: 200px;
	font-family: var(--fonts);
	text-align: center;
	font-size: 16px;
	border-radius: 10px;
	z-index: 9999;
	margin: 30px 15px 7px 12px;
	padding: 5px;
}
