---
title: a new life
tags: ["visual-novel","gay","finished"]
release_date: 2020-05-15
published_date: 2023-05-01
dev: angela he
genre: visual novel
status: finished
---

{% layout "vgs/index.html" %}

{% block box1 %}
<p><b>links: </b><a href="https://store.steampowered.com/app/1297160/a_new_life/" target="_blank">steam</a></p>
{% endblock %}

{% block box2 %}
<h3>sections</h3>
<ul>
  <li><a href="#logs">logs</a></li>
  <li><a href="#screenshots">screenshots</a></li>
</ul>
{% endblock %}


{% block main %}
<section id="logs">
  <h3>logs</h3>
  <p>visual novel about gay girls <img src="/_files/assets/pix/catheart.gif"> i think its very sweet</p>
</section>

<hr>

<section id="screenshots">
  <h3>screenshots</h3>
  <img src="/_files/pages/vgs/games/a-new-life/anewlife3.jpg" width="100%">
  <img src="/_files/pages/vgs/games/a-new-life/anewlife1.jpg" width="100%">
  <img src="/_files/pages/vgs/games/a-new-life/anewlife2.jpg" width="100%">
</section>
{% endblock %}