---json
{
"title": "abzu",
"tags": ["adventure","finished"],
"release_date": "2016-08-02",
"published_date": "2023-05-01",
"dev": "giant squid",
"genre": "adventure",
"status": "finished"
}
---

{% layout "vgs/index.html" %}

{% block box1 %}
<p><b>release date:</b> {{ release_date | string2fulldate }}</p>
<p><b>dev:</b> {{ dev }} </p>
<p><b>genre:</b> {{ genre }}</p>
<p><b>status:</b> {{ status }}</p>
{% endblock %}

{% block box2 %}
<h3>sections</h3>
<ul>
  <li>logs</li>
  <li>screenshots</li>
</ul>
{% endblock %}

{% block box3 %}
<p>page published on: <b>{{ published_date | string2date }}</b></p>
<p>last updated on: <b>{{ page.date | postDate }}</b></p>
{% endblock %}


{% block main %}
<section id="logs">
  <h3>logs</h3>
  <p>logs will go here!</p>
  <!-- content box end div -->
</section>

<hr>

<section id="screenshots">
  <p>and screenshots will go here</p>
</section>
{% endblock %}