---
title: balatro
tags: ["roguelite","deck-builder","finished"]
release_date: 2024-02-20
published_date: 2023-05-01
dev: localthunk
genre: deck builder
status: ongoing
---

{% layout "vgs/index.html" %}

{% block box2 %}
<h3>sections</h3>
<ul>
  <li><a href="#logs">logs</a></li>
  <li><a href="#screenshots">screenshots</a></li>
</ul>
{% endblock %}


{% block main %}
<section>
  <center>
    <p style="font-size:60px;margin:80px 0px;word-spacing:-10px;">🃟 🂿 🃟 🂿 🃟</p>
    <p style="font-size:60px;margin:80px 0px;word-spacing:15px;">🃁🂭🃚🃖🂵🃒 🂠</p>
  </center>
</section>
<hr>
<section id="logs">
  <h2>logs</h2>
  <p><span class="date">01.feb.25</span> this game has consumed everyone i've ever loved. i bought it for my switch <small>(balatro on the bed, balatro on the toilet, balatro on the train, etc.)</small> around when i finished <i>fallout new vegas'</i> dead money dlc <small>(i was getting a bit burned ngl)</small> and Oh My God. this game is so addictive it's actually a little bit scary but SO FUN. highest ante i've gotten has been 12. also love the yuri fanart of the jokers please keep it coming. my favorite joker design is probably dusk. everything about the game is so charming.</p>
</section>

<hr>

<section id="screenshots">
  <h2>screenshots</h2>
  <p>soon. i hate transferring screenshots from the switch since i cant mass upload them to twitter and i hate taking out my micro sd card &lt;/3</p>
</section>
{% endblock %}