---
title: neverway
tags: ["sim","action","to play"]
release_date: 2026-10-01
published_date: 2026-04-13
dev: coldblood
genre: sim
status: wishlist
---

{% layout "vgs/index.html" %}

{% block box1 %}
<p><b>links: </b><a href="https://store.steampowered.com/app/2318330/Neverway/" target="_blank">steam</a> (demo available!), <a href="https://x.com/coldbloodinc" target="_blank">twitter</a></p>
{% endblock %}

{% block box2 %}
<h3>sections</h3>
<ul>
  <li><a href="#logs">logs</a></li>
  <li><a href="#screenshots">screenshots</a></li>
</ul>
{% endblock %}


{% block main %}
<section id="logs">
  <h2>logs</h2>
  <p><span class="date">13.apr.26</span> i don't remember where i first saw this game at. but just the look of this game combined with the amazing composer that is disasterpeace sold me on it. i played the demo recently and i loved it so so so much. i can't wait for october!!! the protag looks very interesting and the horror bits are so neat. the action part is a little bit rough on me but i think that's because i was playing it with a mouse and keyboard. i will most likely get it on my switch once it comes out. i honestly felt so entranced and immersed while playing it. it made me feel like when i played <a href="hld.html">hyper light drifter</a> for the first time. but maybe that's the pixel art and disasterpeace.</p>
</section>

<hr>

<section id="screenshots">
  <h2>screenshots</h2>
  <img width="100%" src="{{ page.fileSlug | gamepics }}nw-1 (4).png" alt="screenshot from the demo">
  <p>have i ever mentioned that i fucking love pixel art?</p>
  <details>
    <summary>spoiler warnings for the screenshots below!!! i really want everyone to play this game</summary>
    <img width="100%" src="{{ page.fileSlug | gamepics }}nw-1 (2).png" alt="screenshot from the demo">
    <img width="100%" src="{{ page.fileSlug | gamepics }}nw-1 (3).png" alt="screenshot from the demo">
    <img width="100%" src="{{ page.fileSlug | gamepics }}nw-1 (5).png" alt="screenshot from the demo">
    <img width="100%" src="{{ page.fileSlug | gamepics }}nw-1 (6).png" alt="screenshot from the demo">
    <img width="100%" src="{{ page.fileSlug | gamepics }}nw-1 (1).png" alt="screenshot from the demo">
</section>
{% endblock %}