---
title: "S4U: CITYPUNK 2011 AND LOVE PUNCH"
tags: ["sim","demo","visual novel"]
release_date: 2025-01-08
published_date: 2026-07-11
dev: U0U Games
genre: sim
status: finished demo
---
{% layout "vgs/index.html" %}

{% block box1 %}
<p><b>links: </b><a href="https://store.steampowered.com/app/2612700/S4U_CITYPUNK_2011_AND_LOVE_PUNCH/" target="_blank">steam</a> (demo available!)</p>
{% endblock %}

{% block box2 %}
<h3>sections</h3>
<ul>
  <li><a href="#logs">logs</a></li>
  <li><a href="#screenshots">screenshots</a></li>
</ul>
{% endblock %}


{% block main %}
<section id="logs">
  <h3>logs</h3>
  <p><span class="date">11.jul.26</span> i honestly found this game so cool but i might get it at Some Point when it gets a discount because during the demo i noticed some of the translation is a bit off. which is kinda crucial for a video game where all you do is read. but nonetheless, i really love the look of this game. it has a little section where you can go out and walk around and that feels really nice and special since you are mostly looking at a computer and typing.</p>
</section>

<hr>

<section id="screenshots">
  <h3>screenshots</h3>
  <img src="/_files/pages/vgs/games/s4u/s4u (1).jpg" alt="">
  <img src="/_files/pages/vgs/games/s4u/s4u (4).jpg" alt="">
</section>
{% endblock %}