:root {
	--green1: rgb(229, 232, 203, 0.9);
	--peach: hsla(27, 65%, 77%, 0.9);
	--yellow: hsla(42, 81%, 83%, 0.9);
	--green2: hsla(82, 19%, 36%, 0.9);
	--blue: #4A6686;
}

html {
	scrollbar-color: #cfa688 #e6c88a;
}

.box {
	background-color: var(--green1);
	border: 1px dashed var(--blue);
	color: #49523A;
}

body {
	background-image: url(garden/bg.png), url(/!g/bg/ritva-2.gif);
	background-repeat: repeat, repeat;
	background-size: 900px, auto;
	background-position: top;
	background-attachment: fixed;
	background-blend-mode: lighten;
}

select {
	background-color: var(--green1);
	color: #49523A;
}

a {
	font-weight: bold;
	color: var(--blue);
	transition-duration: 0.3s;
}

a:hover {
	color: var(--peach);
}

h2,
h3,
h4 {
	color: #847159;
	font-family: spirit;
	text-shadow: 1px 1px 5px var(--peach);
}

hr {
	border-style: dashed;
	border-color: var(--blue);
}

#header {
	font-family: spirit;
	letter-spacing: 3px;
	color: #F7E2B1;
	text-shadow: var(--green2) 2px 0px 0px, var(--green2) 1.75517px 0.958851px 0px, var(--green2) 1.0806px 1.68294px 0px, var(--green2) 0.141474px 1.99499px 0px, var(--green2) -0.832294px 1.81859px 0px, var(--green2) -1.60229px 1.19694px 0px, var(--green2) -1.97999px 0.28224px 0px, var(--green2) -1.87291px -0.701566px 0px, var(--green2) -1.30729px -1.51361px 0px, var(--green2) -0.421592px -1.95506px 0px, var(--green2) 0.567324px -1.91785px 0px, var(--green2) 1.41734px -1.41108px 0px, var(--green2) 1.92034px -0.558831px 0px;
}

nav a:hover {
	padding: 2px;
	letter-spacing: 1px;
	background: var(--green2);
}

/*currently*/

#current .hl {
	background: #aeb182;
	color: var(--green2);
}

#current .date {
	text-align: right;
	color: var(--blue);
	font-size: .8em;
	border-top: 1px solid var(--green2);
}

/*images*/

.rss {
	content: url(garden/rss.png);
}

h3.personal::before {
	content: url(garden/personal.png);
}

h3.media::before {
	content: url(garden/media.png);
}

h3.misc::before {
	content: url(garden/misc.png);
}

h3.site::before {
	content: url(garden/site.png);
}

h3.offsite::before {
	content: url(garden/offsite.png);
}

.mc-cat {
	content: url(garden/cat.png);
}

/*status cafe*/

#statuscafe a {
	color: var(--yellow);
	text-decoration: none;
}

#statuscafe-username {
	background: var(--green2);
	color: var(--peach);
	font-size: 16px;
	font-family: spirit, var(--fonts);
}

#statuscafe-content {
	background: var(--peach);
	color: var(--green2);
}

/*RSS updates*/

#updates h4 {
	text-shadow: none;
}

#updates h4:nth-of-type(1) a {
	text-shadow: 1px 1px 1px white;
}

#comm button {
	background: var(--green2);
	color: var(--yellow);
	border-radius: 4px;
}

#comm button:focus {
	background: var(--yellow);
	color: var(--green2);
	outline-style: dashed;
	outline-color: var(--blue);
	outline-width: thin;
}

p.feed-item-desc {
	margin: 15px 5px 20px 20px;
}

p.feed-item-desc:nth-of-type(1) {
	font-weight: bold;
}

#updates h4 a {
	text-decoration: none;
}

/*tooltip*/

#s-m-t-tooltip {
	color: var(--blue);
	border: 1px solid var(--green1);
	background: var(--yellow);
}

/*music player*/

#musicplayer {
	background: var(--blue);
	border: 2px solid var(--peach);
	color: var(--yellow);
}

.songtitle {
	border-bottom: 2px solid var(--peach);
}

i.fas.fa-pause,
i.fas.fa-play,
i.fas.fa-forward,
i.fas.fa-backward {
	color: var(--green1);
}

input[type=range]::-webkit-slider-runnable-track {
	background: var(--peach);
}

input[type=range]::-webkit-slider-thumb {
	background: var(--peach);
}

input[type=range]::-moz-range-track {
	background: var(--peach);
}

input[type=range]::-moz-range-thumb {
	background: var(--green1);
}
