<!DOCTYPE html>
<html lang="en">

<!-- coded by des ✩₊˚.⋆☾⋆⁺₊✧
moved to 11ty on 05.may.26
-->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="{{ head_desc }}">
  <link rel="icon" type="image/x-icon" href="/_files/assets/pix/catblue.gif">
  <link href="/_files/pages/microblog/index.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>

  {{ content }}

  <script src="/_files/pages/microblog/picture.js"></script>
  <script src="/_files/pages/microblog/script.js"></script>
  <script src="/_files/js/draggable.js"></script>
  {% include "_tooltip.html" %}
</body>

</html>