body {
	background: url(/notebook/!g/grid-pink.png);
}

ol li::marker {
	color: rgb(241, 124, 144);
}

ul li {
	list-style-image: url("/!g/pix/ball_s_19.gif");
}

a:hover,
a:focus {
	color: #ffe3e3;
}

mark {
	background: #ffe3e3;
}

::selection {
	background-color: #ffe3e3;
}

#s-m-t-tooltip {
	max-width: 200px;
	text-align: center;
	z-index: 9999;
	margin: 30px 15px 7px 12px;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid black;
	color: black;
	background-color: #ffe3e3;
}
