:root {
  --d-border: 2px solid #b4c46a;
  --l-border: 2px solid #b4c46a;
  --green: #b4c46a;
  --white: #ececec;
}

body {
  background: url(bg1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr {
  border-color: var(--l-brown);
}

p img {
  vertical-align: middle;
}

i {
  background: var(--peach);
}

p:hover {
  background: var(--l-yellow);
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h1,
h2,
h3,
h4 {
  background: rgb(180, 196, 106);
  background: linear-gradient(
    129deg,
    rgba(180, 196, 106, 1) 0%,
    rgba(236, 236, 236, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--brown);
}

a {
  background: var(--green);
  color: var(--brown);
}

.log h3 {
  font-size: 15px;
  background: #cfb9b4;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--brown);
}

.log h4 {
  font-size: 10px;
}

#wrapperlog {
  position: relative;
  width: 933px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  word-spacing: 0px;
}

header {
  word-spacing: var(--spacing);
  width: 100%;
  border: var(--l-border);
  text-align: center;
  background: var(--l-yellow);
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 10px;
}

side {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}

figure {
  text-align: center;
}

figcaption {
  font-size: 14px;
}

.content {
  background: var(--white);
  color: var(--brown);
  word-spacing: var(--spacing);
  width: 290px;
  margin-top: 20px;
  padding: 5px;
  border: var(--l-border);
  border-radius: 20px;
}

.content h4 {
  margin: 7px;
  font-size: 13px;
  text-align: center;
  -webkit-text-stroke-color: var(--brown);
}

.bg {
  font-size: 15px;
  text-align: center;
}

.vids iframe {
  width: 100%;
  height: 150px;
}

.nav {
  text-align: center;
}

.cred {
  font-size: 14px;
  margin: 0px;
}

main {
  position: relative;
  display: inline-block;
}

.title b {
  background: var(--white);
  text-shadow: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--brown);
}

iframe {
  width: 100%;
}

.log {
  background: var(--l-pink);
  word-spacing: var(--spacing);
  width: 600px;
  padding: 10px;
  border: var(--d-border);
  margin-top: 20px;
}

.log [align] {
  margin: 10px;
}

.info {
  margin: 4px;
}

.date,
.info {
  font-family: newpenji;
  text-align: right;
}

footer {
  word-spacing: var(--spacing);
  padding: 5px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  border: var(--d-border);
  background: var(--l-yellow);
  border-radius: 0px 0px 20px 20px;
}

#top {
  position: fixed;
  right: 20px;
  bottom: 10px;
}

.lp {
  background: #d7e8c7;
}

.ep {
  background: #d2ece1;
}

.track,
.single {
  background: #e6d1c2;
}

.misc,
.ost {
  background: #f7ffd1;
}

.post {
  background: var(--white);
}

@media only screen and (max-width: 940px) {
  #wrapperlog {
    width: 100%;
  }

  side,
  main,
  .log,
  .content {
    display: block;
    position: relative;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  body {
    background: var(--l-pink);
  }

  a {
    color: var(--pink);
    background: var(--soft-brown);
  }

  .log h2 {
    background: rgb(254, 234, 199);
    background: linear-gradient(
      61deg,
      rgba(254, 234, 199, 1) 0%,
      rgba(251, 181, 205, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--l-brown);
  }

  .title b {
    -webkit-text-stroke-color: var(--l-brown);
  }

  #wrapperlog {
    margin: 0px;
    margin-top: 30px;
  }

  h2 {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    text-align: center;
  }

  .content,
  header,
  .info,
  iframe,
  #top,
  .log h3 {
    display: none;
  }

  .log {
    background: transparent;
    border: 0px;
    border-bottom: var(--d-border);
  }

  footer {
    margin: 0px;
    border: 0px;
    border-radius: 0px;
  }
}

#s-m-t-tooltip {
  max-width: 400px;
  text-align: center;
  z-index: 9999;
  margin: 30px 15px 7px 12px;
  padding: 5px;
  border-radius: 5px;
  border: 2px dashed var(--brown);
  color: var(--brown);
  background-color: var(--green);
}
