---
title: journal
tags: ["subpage"]
---
{% layout "journal/index.html" %}

{% block pad %}
<h2>welcome to my notepad!</h2>
<p>i kinda write about anything that might be interesting here. small life lessons, updates and such. <small>i don't proof read what i write in these most of the time.</small></p>
<ul>
  {% for e in collections.log reversed %}
  <li><a title="tagged with{% for tag in e.data.tags %}{% unless tag == 'log' %} #{{ tag }}{% endunless %}{% endfor %}" href="{{ e.url }}">{{ e.data.title }}</a> - <span class="date">{{ e.data.page.date | postDate }}</span>
  </li>
  {% endfor %}
</ul>

<form id="webmention-form" action="https://webmention.io/doqmeat.com/webmention" method="POST">
  <label for="webmention-form">send me webmentions through this form!</label>

  <input id="webmention-source" type="url" autocomplete="url" required="" pattern="^https?:\/\/(.*)" name="source" placeholder="URL/Permalink of your article" class="error" aria-invalid="true" />

  <input id="webmention-submit" type="submit" name="submit" value="Ping me!" />

  <input id="webmention-format" type="hidden" name="format" value="html" />
  <input id="webmention-target" type="hidden" name="target" value="https://doqmeat.com/journal" />
</form>
{% endblock %}