---json
{
"pagination": {
"data": "collections.journalTags",
"size": 1,
"alias": "tag",
"filter": ["all", "subpage"]
},
"eleventyComputed": {
"dynamic_title": "logs with #{{ tag | slugify }}"
},
"permalink": "/journal/tags/{{ tag | slugify }}.html"
}
---
<!-- THIS FUCKING WORKS -->
{% layout "journal/index.html" %}

{% block pad %}
<ul>
  {% for e in collections[tag] reversed %}
  <li>
    <span class="date">{{ e.data.page.date | postDate }}</span> -
    <a href="{{ e.url }}">{{ e.data.title }}</a>
  </li>
  {% endfor %}
</ul>

{% endblock %}