/*https://coolors.co/d69e2e-f2d69e-667eea-bfd3ee-7cb6af-c5e6e1-c39684-8c7167-f7fbff-1a202c*/

/*main colors: yellow, blue, mint green */

:root {
	--d-yellow: rgb(214, 158, 46);
	--l-yellow: rgb(250, 240, 137);
	--d-blue: rgb(102, 126, 234);
	--l-blue: rgb(168, 196, 232);
	--d-mint: rgb(124, 182, 175);
	--l-mint: #C5E6E1;
	--l-brown: #C39684;
	--d-brown: #8C7167;
	--d-green: #4D6B4D;
	--grey: rgb(203, 213, 224);
	--black: rgb(26, 32, 44);
}

body {
	color: var(--black);
	background: url('/!g/homepage/bg5.png') no-repeat bottom fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.box {
	border: 3px dotted var(--d-yellow);
	border-radius: 10px;
	background: rgb(247, 250, 252, 0.9);
}

header {
	height: 112%;
	color: white;
	overflow: hidden;
}

#intro {
	border-radius: 0px 0px 10px 10px;
	padding-bottom: 50px;
}

#intro p {
	margin-top: 0px;
}

header p {
	font-size: 17px;
	margin: 0px;
	margin-left: 10px;
	position: absolute;
}

h1 {
	font-family: typogarden;
	font-size: 89px;
	font-weight: normal;
	letter-spacing: 4px;
	background: rgb(255, 166, 166);
	background: linear-gradient(180deg, rgba(255, 166, 166, 1) 30%, rgba(124, 152, 116, 1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: drop-shadow(2px 0px 0px white) drop-shadow(0px 2px 0px white) drop-shadow(-2px 0px 0px white) drop-shadow(0px -2px 0px white);
}

h2 {
	font-weight: normal;
	font-family: newpenji, var(--fonts);
	font-size: 26px;
	letter-spacing: 3px;
	margin-bottom: 10px;
}

h3 {
	font-family: newpenji, var(--fonts);
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: normal;
}

h3::after,
h3::before {
	content: url('/!g/pix/flower-white.gif');
}

h3::before {
	margin-right: 10px;
}

h3::after {
	margin-left: 10px;
}


nav a {
	font-family: newpenji, var(--fonts);
	font-size: 19px;
	color: var(--d-brown);
	margin: 5px 0px;
}

#status {
	background-image: url('/!g/homepage/cloud1.png');
}

#updates h2 + li {
	padding: 3px;
	border-radius: 10px;
	color: var(--d-blue);
	background: var(--l-yellow);
	border: 1px solid var(--d-blue);
}

#music-btn {
	background: var(--d-blue);
	border: 2px outset var(--d-yellow);
}

/* strickers */

#sticker1 {
	content: url('/!g/deco/flower1.gif');
	top: 47.5%;
	left: 25%;
}

#sticker2 {
	content: url('/!g/div/flower2.gif');
	top: 0.5%;
	left: -1%;
	rotate: -6deg;
}

#sticker3 {
	content: url('https://doqmeat.neocities.org/!g/deco/tulips.gif');
	top: 62%;
	left: 54%;
}

#sticker4 {
	content: url('https://doqmeat.neocities.org/!g/deco/happy-cloud.gif');
	top: 35%;
	left: 56%;
}

#sticker5 {
	content: url('/!g/deco/left-hanger.gif');
	top: 50%;
	left: -1.6%;
}

#sticker6 {
	content: url('/!g/deco/paper-planes.gif');
	top: 76%;
	rotate: 10deg;
	left: -3%;
}

#sticker7 {
	content: url('/!g/deco/sleepy-cats.gif');
	top: 43%;
	left: 95%;
}

#sticker8 {
	content: url('https://doqmeat.neocities.org/!g/deco/sunflowers1.gif');
	top: 90.9%;
	left: 20%;
}

#sticker9 {
	content: url('/!g/deco/flowerpatch2.gif');
	top: 29%;
	left: 24%;
}

#sticker10 {
	content: url('/!g/deco/catbutter-Katze_91.gif');
	top: 0.5%;
	left: 5%;
}

#sticker11 {
	content: url('/!g/deco/bench-flowers.gif');
	top: -5%;
	left: 90%;
	rotate: -10deg;
}

#sticker12 {
	content: url('/!g/deco/bee.png');
	top: -3%;
	width: 110px;
	left: 50%;
	rotate: -10deg;
}

#sticker13 {
	content: url('https://doqmeat.neocities.org/!g/deco/hk-pixel%20(5).gif');
	top: 35%;
	left: 66%;
}

#sticker14 {
	content: url('https://doqmeat.neocities.org/!g/deco/flower8.gif');
	top: 4%;
	left: 76%;
}

#sticker15 {
	content: url('https://doqmeat.neocities.org/!g/deco/flower7.gif');
	top: 90.8%;
	left: 74%;
}

#sticker16 {
	content: url('https://doqmeat.neocities.org/!g/deco/bouquet-flowers2.gif');
	top: 75%;
	left: 48%;
	rotate: -40deg;
}

#sticker17 {
	content: url('https://doqmeat.neocities.org/!g/pix/buttermeadow.gif');
	top: 42%;
	left: 77%;
}

/*fixed stickers*/

#r-sticker {
	position: fixed;
	content: url('https://doqmeat.neocities.org/!g/deco/flower2.gif');
	bottom: 10px;
	right: 20px;
}

#l-sticker {
	position: fixed;
	content: url('/!g/deco/flower3.gif');
	top: -19px;
	left: 30px;
}

/*-----------------------*/

#s-m-t-tooltip {
	max-width: 200px;
	border-radius: 20px;
	border: 1px dashed var(--black);
	color: var(--grey);
	background: var(--d-yellow);
}


@media only screen and (max-width: 860px) {
	#status {
		border: 1px solid var(--d-yellow);
		border-radius: 10px;
		background: rgb(203, 213, 224, 0.97);
	}
}
