/*space !!!! */

:root {
	--white: rgb(203, 213, 224);
	--black: rgb(26, 32, 44, 0.8);
}

body {
	color: white;
	background: url('/!g/bg/pixelins-bg.png');
}

.box {
	border: 1px solid white;
	background: rgb(26, 32, 44, 0.8);
}

h1 {
	background: url(/!g/bg/pixelins-bg-blu.png);
	background-size: 200px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: white;
}

h1:hover {
	background: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: black;
}

#status {
	background-image: url('/!g/homepage/cloud1.png');
}

#updates h2 + li {
	color: var(--grey);
	background: var(--mint-d);
}

footer {
	background: var(--grey);
}

#s-m-t-tooltip {
	max-width: 200px;
	border-radius: 20px;
	border: 1px dashed var(--black);
	color: var(--grey);
	background: var(--yellow-d);
}
