/*space !!!! */

:root {
	--white: rgb(203, 213, 224);
	--black: rgb(26, 32, 44, 0.8);
}

body {
	font-family: ms pgothic, natsuzemi, var(--fonts);
}

img {
	filter: grayscale(10);
}

img:hover {
	filter: grayscale(0)
}

body {
	font-size: 16px;
	color: white;
	background: url('/!g/bg/pixelins-bg.png');
}

.box {
	border: 1px solid white;
	background: rgb(26, 32, 44, 0.8);
}

a {
	color: white;
}

a:hover {
	background: white;
	color: black;
	text-decoration: none;
	border-radius: 10px;
}

a:hover img {
	filter: grayscale(0);
}

.intro-img {
	content: url(/!g/gif/hellokittystar.gif);
	margin: 2%;
}

header p {
	margin-top: -10px;
	margin-left: 120px;
	position: absolute;
}

h1 {
	margin-top: 20px;
	font-family: daydream, var(--fonts);
}

h2 {
	font-family: nintendo-ds-bios, var(--fonts);
	font-size: 18px;
	letter-spacing: 2px;
	word-spacing: 3px;
	margin-bottom: 5px;
	line-height: 20px;
}

.snowflakes {
	display: none;
}

nav a {
	font-family: nintendo-ds-bios;
	text-decoration: none;
	letter-spacing: 3px;
	word-spacing: 3px;
	transition-duration: 0.3s;
}

nav a:hover {
	letter-spacing: 1px;
	word-spacing: 0px;
}

nav h3{
	font-family:natsuzemi, var(--fonts);
	font-weight: normal;
	letter-spacing: 5px;
	text-decoration: overline;
}

#status {
	background-image: url('/!g/homepage/cloud1.png');
	color: black;
}

#statuscafe-username a {
	color: black;
}

#statuscafe-content {
	font-size: 14px;
	font-style: italic;
}

#updates li {
	margin: 10px 0;
}

#updates h2 + li {
	color: black;
	background: white;
	border-radius: 5px;
}

#updates h2 + li a {
	color: black;
}


.imood {
	font-family: nintendo-ds-bios, var(--fonts);
	vertical-align: top;
	font-size: 18px;
}

.hl {
	background: white;
	color: black;
	padding: 2px;
	border-radius: 5px;
}

button {
	background: white;
	color: black;
	font-family: var(--fonts);
	border-radius: 15px;
	border: 3px ridge white;
}

button:hover {
	background: black;
	color: white;
}

button:focus {
	background: black;
	color: white;
	border: 3px solid black;
}

footer {
	background: var(--grey);
}

#chatbox,
#chatbox h2 {
	color: white;
	font-weight: normal;
	background: black;
	border: var(--border2);
}

#chatbox {
	background: white;
	z-index: 10;
	transition-duration: 1.5s
}

#chatbox h2 {
	border-radius: 10px 10px 0 0;
	margin: 0;
	padding: 10px;
	left: -17%;
	top: 85%;
	border: 1px solid white;
}

.outlink::after {
	content: "↗";
	padding-left: 2px;
	vertical-align: text-bottom
}

#s-m-t-tooltip {
	border: 2px dashed white;
	max-width: 200px;
	border-radius: 20px;
	border: 1px dashed black;
	color: white;
	background: black;
}

@media only screen and (max-width:1000px) {
	nav a:hover {
		letter-spacing: 3px;
		word-spacing: 3px;
	}
}

@media only screen and (max-width: 860px) {

	nav {
		text-align: center
	}

	body {
		font-family:
	}

	#status {
		background: var(--black);
		color: white;
		border: 3px dotted var(--l-brown);
		border-radius: 10px
	}

	#status a {
		color: white;
	}

	#status img {
		background: var(--white);
	}

	#chatbox {
		position: relative;
		margin-top: -10px;
		left: 0;
		top: 0;
		border-radius: 20px;
		max-width: 100%;
		width: 100%;
		height: 300px;
	}

	#chatbox h2 {
		display: none
	}
}
