* {
	box-sizing: border-box;
}

body {
	background: url(https://64.media.tumblr.com/ae454ed3a5d1e6b4df199cde688d32ef/tumblr_inline_n25dowxCKH1qhwjx8.gif) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	word-wrap: break-word;
	font-size: 16px;
	line-height: 23px;
	font-family: natsuzemi, arial;
	color: black;
	margin: 0px;
}

h1,
h2,
h3,
h4 {
	font-family: morningtea;
	text-align: center;
}

h1::before,
h2::before,
h3::before,
h4::before {
	content: url("/!g/pix/butter3.gif");
	padding-right: 10px;
}

h1::after,
h2::after,
h3::after,
h4::after {
	content: url("/!g/pix/butter3.gif");
	padding-left: 10px;
}

li {
	list-style-position: inside;
	padding-left: 2px;
	padding-bottom: 5px;
}

.f1 {
	list-style-image: url("/!g/pix/fourple.gif");
}

.f2 {
	list-style-image: url("/!g/pix/flowerpink.gif");
}

mark {
	background: white;
}

a {
	color: black;
	font-weight: bold;
	text-decoration: underline;
}

a:focus {
	outline: 1px dashed white;
	outline-offset: 3px;
}

a:active,
a:hover {
	outline: 0
}

.inner {
	font-weight: normal;
	text-decoration: dotted underline;
}

.inner:hover {
	font-weight: normal;
	text-decoration: underline;
}

a:hover {
	color: black;
	text-decoration: dotted underline;
	cursor: help;
}

img {
	vertical-align: baseline;
}

p {
	margin: 0 0 10px 0;
	padding: 5px;
}

::selection {
	color: white;
	background-color: #4f5fd5;
}

main {
	background: rgb(218, 255, 217);
	background: linear-gradient(146deg, rgba(218, 255, 217, 0.907527977011117) 0%, rgba(255, 219, 214, 0.8963234952183998) 49%, rgba(187, 210, 255, 0.9131302179074755) 100%);
	position: relative;
	top: 40px;
	margin: auto;
	margin-bottom: 80px;
	max-width: 600px;
	border: 1px dashed black;
	padding: 10px;
}

summary{
	text-align: center;
	cursor:help;
}


#back a {
	cursor: pointer;
	position: fixed;
	top: 10px;
	left: 10px;
}

footer {
	background: rgb(218, 255, 217);
	background: linear-gradient(146deg, rgba(218, 255, 217, 0.907527977011117) 0%, rgba(255, 219, 214, 0.8963234952183998) 49%, rgba(187, 210, 255, 0.9131302179074755) 100%);
	text-align: center;
	border-top: 1px dashed black;
	border-bottom: 1px dashed black;
	margin-top: 20px;
	padding: 8px;
}

#musicbox {
	background: rgb(187, 255, 206);
	background: linear-gradient(343deg, rgba(187, 255, 206, 0.8991246156665791) 0%, rgba(255, 254, 214, 0.8823178929775035) 48%);
	position: fixed;
	width: 200px;
	bottom: 60px;
	left: 20px;
	padding: 5px;
	border: 1px dashed black;
}

#s-m-t-tooltip {
	max-width: 300px;
	text-align: center;
	z-index: 999;
	margin: 30px 15px 7px 12px;
	padding: 5px;
	border: 1px dashed black;
	color: black;
	background: rgb(187, 255, 206);
	background: linear-gradient(343deg, rgba(187, 255, 206, 0.8991246156665791) 0%, rgba(255, 254, 214, 0.8823178929775035) 48%);
}

@media only screen and (max-width: 650px) {
	main {
		top: 0px;
		font-size: 14px;
		line-height: 20px;
		border: none;
		margin-bottom: 40px;
		border-bottom: 1px dashed black;
	}

	.mo-img {
		width: 20%;
	}
}

@media only screen and (max-width: 800px) {
	#back a {
		display: none;
	}

}

@media only screen and (max-width: 1100px) {
	#musicbox {
		position: relative;
		margin: auto;
		width: 300px;
		left: 0px;
		bottom: 0px;
	}
}
