.site-box {
	text-align: center;
	background-color: #c2e2ea;
	background-size: cover;
	background-image: url(https://doqmeat.nekoweb.org/doqmeat.com/!g/web/site-box-bg.png);
	color: #ab3a22;
	font-size: 17px;
	border-radius: 10px;
}
.site-box img.screenshot {
	opacity: 0;
}
.site-box .sitefeature {
	background-image: url(https://doqmeat.nekoweb.org/doqmeat.com/!g/web/site-box-cat.png);
	background-position: center;
	background-color: transparent;
	border: 0;
	background-repeat: no-repeat;
	opacity: 1;
}

.site-box > a > p {
	color: #ab3a22;
	text-shadow:
		1px 1px 4px white,
		1px 1px 4px white,
		-1px -1px 4px white,
		-1px -1px 4px white;
	font-weight: bold;
	font-size: 20px;
}
.site-box > a > span {
	opacity: 0;
}

/* Style for your post box (must start with ".post-box") */
.post-box {
	font-family:
		ms pgothic,
		arial;
	background-image: url(https://doqmeat.nekoweb.org/doqmeat.com/!g/bg/whiteline2.jpg);
	background-position: top;
	background-color: white;
	border: 0;
	padding: 15px;
	font-size: 17px;
	border-radius: 5px;
	color: #37478c;
	font-weight: normal;
}

.post-box p.post-description {
	padding: 0 30px;
	font-size: 1.1em;
}

.post-box .post-title::before {
	content: "✏";
}

.post-box span.post-author,
.post-box span.post-date,
.post-box span.noreset.post-dot {
	font-size: 0.7em;
	margin: 0 5px;
	padding: 0;
	float: right;
	font-weight: bold;
	text-shadow:
		1px 1px 4px white,
		1px 1px 4px white,
		-1px -1px 4px white,
		-1px -1px 4px white;
}

.post-box span.post-author::before {
	content: "by ";
	padding-left: 10px;
}
.post-box span.post-author::after {
	content: "⏾⋆.˚";
	padding-left: 10px;
	vertical-align: top;
}

.post-box span.noreset.post-dot,
.post-box span.post-date {
	display: none;
	opacity: 0;
}

.post-box .post-title {
	letter-spacing: 2px;
	text-shadow:
		1px 1px 4px white,
		1px 1px 4px white,
		-1px -1px 4px white,
		-1px -1px 4px white;
	font-size: 20px;
	font-weight: bold;
	margin-left: 30px;
}
