body {
  background: transparent;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

table {
  background: rgba(254, 255, 169, 0.341);
  width: 220px;
  border-radius: 10px;
  border: 1px solid white;
}

td {
  background: #d3e7b2;
  border-radius: 7px;
  box-shadow: 1px 1px 1px white inset, -1px -1px 1px white inset;
  border: 1px solid #e8e4ef;
}

.week {
  font-weight: bold;
  color: grey;
  background: #e0def2;
  border-radius: 7px;
  text-shadow: 1px 1px 1px white;
}

.month {
  background: pink;
  text-align: center;
}

p {
  margin-bottom: 30px;
}

p a {
  border-radius: 5px;
  padding: 1px 3px;
}

a {
  overflow: hidden;
  cursor: help;
  padding: 1px;
  background: #ffc0cb;
}

td a {
  padding: 0px;
  border-radius: 5px;
  display: block;
  text-shadow: 1px 1px 1px grey;
}

td a:hover {
  background: #ffc0cb;
}

td a:focus {
  background: #e0def2;
}

@media only screen and (max-width: 600px) {
  .hide {
    display: none;
  }
}

@media only screen and (max-width: 213px) {
  table {
    width: 100%;
  }
}
