* {
	box-sizing: border-box;
}

:root {
	--fonts: ms pgothic, nanum-r, arial;
	--gradient1: rgb(157, 117, 145);
	--gradient2: linear-gradient(
		90deg,
		rgba(157, 117, 145, 1) 0%,
		rgba(121, 150, 185, 1) 100%
	);
	--dark: #4d3c3c;
	--light: #fff5e4;
	--1: #fbb5cd;
	--2: #9d8a78;
	--3: #feeac7;
}

body {
	word-wrap: break-word;
	margin: 0px;
	font-family: var(--fonts);
	line-height: 24px;
	word-spacing: 2px;
	font-size: 18px;
	color: var(--dark);
	background: url(../!g/index/yume.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

main {
	background: var(--light);
	max-width: 700px;
	margin: auto;
	padding: 5px 10px 10px 10px;
	border: 2px solid var(--2);
	border-top: none;
	border-bottom: none;
}

a {
	text-decoration: none;
	padding: 0px 5px;
	color: var(--1);
	background: var(--dark);
	font-weight: bold;
	border-radius: 5px;
	cursor: help;

	&:hover {
		color: var(--dark);
		background: var(--light);
	}
}

::selection {
	color: var(--1);
	background: var(--dark);
}

h3::selection {
	background: var(--bright);
}

b {
	letter-spacing: 2px;
	text-shadow: 1px 1px 2px var(--2);
}

i {
	color: var(--l-brown);
	letter-spacing: 1px;
	text-shadow: 1px 1px 2px var(--3);
}

mark {
	padding: 0px 2px;
	background: var(--light);
}

p {
	transition-duration: 0.3s;

	img {
		vertical-align: middle;
	}
}

blockquote {
	border-left: 2px dashed var(--2);
	padding-left: 10px;
}

.spoiler {
	padding: 0px 5px;
	color: var(--3);
	background: var(--3);
	&:hover {
		color: var(--dark);
	}
}

.emoji2:after {
	content: "s";
	color: var(--1);
	font-family: emojifont;
}

h1 {
	font-family: natsuzemi;
	line-height: normal;
	text-align: center;
}

h2,
h3,
h4,
h5 {
	font-family: natsuzemi;
	letter-spacing: 2px;
	word-spacing: 6px;
}

h3 {
	border-bottom: 4px double var(--1);
	line-height: 2em;
	margin: 0 20px;
}

details {
	transition-duration: 0.3s;
	margin-bottom: 15px;
	margin: 0;
	padding: 5px;

	summary {
		padding-left: 10px;
		padding: 5px;
		cursor: help;
	}

	summary::marker {
		content: "⤷ ";
	}

	&[open] > summary::marker {
		content: "♫ ";
	}

	p {
		margin: 0;
		padding: 5px;
		padding-left: 10px;
		color: var(--light);
		background: var(--dark);
		border: 1px solid var(--2);
		transition-duration: 0.5s;
	}

	iframe {
		display: block;
		margin: auto;
		width: 100%;
		height: 200px;
	}
}

footer {
	padding: 10px;
	background: var(--dark);
	color: var(--light);
	text-align: center;
	max-width: 700px;
	margin: auto;
	margin-bottom: 20px;
	border: 2px solid var(--l-brown);
	border-radius: 0px 0px 10px 10px;
}

.albums-wrapper {
	text-align: center;
	a {
		display: inline-block;
		background: unset;
		padding: 0;
	}
	img {
		display: inline;
		width: 200px;
	}
}

.song {
	overflow: hidden;
	p {
		margin: 15px;
	}
	img {
		margin: 20px;
		max-width: 150px;
	}
	&:nth-of-type(2n + 0) img {
		float: left;
	}
	&:nth-of-type(2n + 1) img {
		float: right;
	}
}

.cover {
	margin: 10px;
	border-radius: 5px;
	transition-duration: 0.5s;
}

.cover:hover {
	rotate: 5deg;
	filter: grayscale(100%);
}

.outlink::after {
	content: url(/!g/web/materials/outlink1.png);
	padding-left: 3px;
	vertical-align: top;
}

.outlink:hover::after {
	content: url(/!g/web/materials/outlink2.png);
}

#s-m-t-tooltip {
	max-width: 400px;
	text-align: center;
	z-index: 9999;
	margin: 30px 15px 7px 12px;
	padding: 5px;
	border-radius: 5px;
	border: 5px double var(--1);
	color: var(--light);
	background-color: var(--dark);
}

@media only screen and (max-width: 510px) {
	footer {
		margin-bottom: 0;
	}
}
